<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/save.css">
    <title>회원가입</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="/js/save.js" defer></script>
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="save-form">
        <form action="/member/save" method="post">
            <section class="save-first-form" id="first-form">
                <a href="./">
                    <h1 class="logo-text">OInJo</h1>
                </a>
                <h3>회원가입</h3>
                <div id="name-form">
                    <div class="user-form">
                        <input id="user-name" class="user-input" name="memberName" type="text" placeholder="이름" />
                        <label for="user-name" class="user-label" data-content="이름">
                            <span class="hidden--visually">
                                이름</span></label>
                    </div>

                    <div class="user-form">
                        <input id="user-nickname" type="text" class="user-input" name="memberNickname"
                            placeholder="닉네임" />
                        <label for="user-nickname" class="user-label" data-content="닉네임"><span
                                class="hidden--visually">닉네임</span></label>
                    </div>
                    <div class="first-page-btn">
                        <button type="button" class="next-button first-page-move-btn" onclick="js:begin()"><i
                                class="fa-solid fa-angles-right"></i></button>
                    </div>
                </div>
            </section>


            <section id="second-form" class="save-second-form">
                <a href="./">
                    <h1 class="logo-text">OInJo</h1>
                </a>
                <h3>회원가입</h3>
                <div id="phone-form">
                    <div class="user-form">
                        <input id="user-phone" class="user-input" name="memberPhone" type="text"
                            onkeypress="return checkNumber(event)" maxlength="11" placeholder="전화번호" />
                        <label for="user-phone" class="user-label" data-content="전화번호">
                            <span class="hidden--visually">
                                전화번호</span></label>
                    </div>

                    <div class="user-form">
                        <input id="user-address" type="text" class="user-input" name="memberAddress" placeholder="주소" />
                        <label for="user-address" class="user-label" data-content="주소"><span
                                class="hidden--visually">주소</span></label>
                    </div>
                    <div class="center-page-btn">
                    <button type="button" class="next-button" onclick="first_page()"><i
                        class="fa-solid fa-angles-left"></i></button>

                    <button type="button" class="back-page" onclick="second_third()"><i
                        class="fa-solid fa-angles-right"></i></button>
                </div>

                </div>
            </section>


            <section id="third-form" class="save-third-form">
                <a href="index.html">
                    <h1 class="logo-text">OInJo</h1>
                </a>
                <h3>회원가입</h3>
                <div id="email-form">
                    <div class="user-form">
                        <input id="user-email" class="user-input" name="memberEmail" type="email" placeholder="이메일" />
                        <label for="user-email" class="user-label" data-content="이메일">

                            <span class="hidden--visually">
                                이메일</span></label>
                        <button type="button" class="search-button certification-start-button"><span>인증</span></button>
                    </div>

                    <div class="user-form">
                        <input id="user-certification" class="user-input" name="certification" type="text"
                            placeholder="인증번호" />
                        <label for="user-certification" class="user-label" data-content="인증번호">
                            <span class="hidden--visually">
                                인증번호</span></label>
                        <button type="button" class="search-button certification"><span>확인</span></button>
                    </div>
                    
                    <div class="center-page-btn">
                    <button type="button" class="next-button" onclick="second_page()"><i
                        class="fa-solid fa-angles-left"></i></button>

                    <button type="button" class="back-page" onclick="third_fourth()"><i
                        class="fa-solid fa-angles-right"></i></button>
                </div>
                </div>
            </section>


            <section id="fourth-form" class="save-fourth-form">
                <a href="index.html">
                    <h1 class="logo-text">OInJo</h1>
                </a>
                <h3>회원가입</h3>
                <div class="password-form">
                    <div class="user-form">
                        <input id="user-password" type="password" class="user-input password-input"
                            name="memberPassword" placeholder="비밀번호" />
                        <label for="user-password" class="user-label" data-content="비밀번호"><span
                                class="hidden--visually">비밀번호</span></label>
                        <div class="password-clear">X</div>
                    </div>

                    <div class="user-form">
                        <input id="user-password2" type="password" class="user-input re-password-input"
                            name="memberPassword2" onchange="check_password()" placeholder="비밀번호 확인" />
                        <label for="user-password2" class="user-label" data-content="비밀번호 확인"><span
                                class="hidden--visually">비밀번호 확인</span></label>
                        <span id="check"></span>
                    </div>
                    <div class="last-page-btn">
                    <button type="button" class="back-page" onclick="third_page()"><i
                        class="fa-solid fa-angles-left"></i></button>
                    <input type="submit" class="save-button" value="가입" onclick="send()">
                </div>
                </div>
            </section>
        </form>
    </div>
</body>

</html>
</body>

</html>