#itemForm{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border:1px solid rgba(0,0,0,0.2);
  padding:20px;
  border-radius: 20px;
  box-sizing: border-box;
}

.itemview-title {
  margin-top:12px;
  margin-bottom:24px;
  font-weight: 600;
  font-size: 22px;
}
.item-form-row{
  height: 60px;
}

.item-form-label{
  display: inline-block;
  width:90px;
  font-size:18px;
  border:1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.05);
  padding:10px;
  box-sizing: border-box;
}

.item-form-value{
  all:unset;
  padding:10px;
  box-sizing: border-box;
  border-bottom:1px solid black;
}

.itemview-update-button-wrapper {
  display:flex;
  gap:10px;
  margin-top:20px;
}

.custom-file {
  margin-bottom:10px;
}

#update-btn, #delete-btn {
  all:unset;
  background-color: black;
  color:white;
  padding:10px;
  font-size:20px;
  box-sizing: border-box;
}

.item-update-title{
  margin-bottom:10px;
}

.item-update {
  display:flex;
  flex-direction: column;
  gap:5px;
  margin-bottom:10px;
}

.item-status-update {
  margin-bottom:10px;
}