<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/css/findid.css">
    <script src="/js/findid.js" defer></script>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="icon" href="images/logo.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <section class="find-id">
        <a href="./"><h1>OInJo</h1></a>
        <h2 class="id-text">아이디 찾기
        </h2>
        <p class="id-sub">
            회원 가입 시 입력하신 이메일 ID를 입력 해주시면 해당 메일 주소로 해당 계정 ID를 보내드립니다.</p>
         <div class="email-input">
            <input type="email" name="memberPassword" id="email" user-password autocomplete="off" required>
            <label for="email" class="email-input-label">이메일 입력</label>
         </div>   
         <a href="#" ><input type="submit" id="btn" class="email-botton" value="이메일 보내기"></a>
         <div class="login-form">
            <a href="/member/login">로그인으로 돌아가기</a>
         </div>
         
</body>
</html>