<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/logo.png">
  <link rel="stylesheet" href="../static/css/root.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="/root/index.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <script src="../static/js/root.js" defer></script>
  <script src="../static/js/index.css" defer></script>
  <script src="/js/root.js"></script>
  <script src="/js/index.js" defer></script>
  <title>OInJo</title>
</head>

<body>
  <header>
    <div class="header-left">
      <a href="/"><img src="/images/logo.png" alt="LOGO" class="header-logo"></a>
      <div class="header-search">
        <input type="text" placeholder="상품을 검색해보세요" class="header-search-input">
        <i class="fa-solid fa-magnifying-glass header-search-icon"></i>
      </div>
    </div>
    <nav class="header-right">
      <p class="login-check" th:text="${session.loginEmail}"></p>
      <a href="/member" class="header-link">
        <i class="fa-solid fa-hammer header-link-icon"></i>
        회원목록
      </a>
      <a href="/admin/item/new" class="header-link">
        <i class="fa-solid fa-hammer header-link-icon"></i>
        관리자
      </a>
      <a href="/member/update" class="update-link header-link">
        <i class="fa-solid fa-user-pen header-link-icon"></i>
        정보수정
      </a>
      <a href="/member/logout" class="logout-link header-link">
        <i class="fa-solid fa-user-minus header-link-icon"></i>
        로그아웃
      </a>
      <a href="/member/login" class="login-link header-link">
        <i class="fa-solid fa-user-plus header-link-icon"></i>
        로그인
      </a>
      <a href="" class="header-link">
        <i class="fa-solid fa-tags header-link-icon"></i>
        최근본상품
      </a>
      <a href="" class="header-link shopping-bag">
        <i class="fa-solid fa-cart-shopping header-link-icon"></i>
        장바구니
        <div class="shopping-bag-count">1</div>
      </a>
      <a href="" class="header-link">
        <i class="fa-solid fa-house header-link-icon"></i>
        마이페이지
      </a>
    </nav>
  </header>
  <main>

    <aside class="aside-category-wrapper">
      <div class="aside-category">
        <input type="radio" name="brand" id="category01">
        <label for="category01">브랜드<span></span></label>
        <ul>
          <li th:each="brandDto : ${brandList}">
            <span th:text="${brandDto.brandName}" class="select-name"></span>
          </li>
        </ul>
        <input type="radio" name="category" id="category02">
        <label for="category02">카테고리<span></span></label>
        <ul>
          <li th:each="categoryDto : ${categoryList}">
            <span th:text="${categoryDto.categoryName}" class="select-name"></span>
          </li>
        </ul>
      </div>
    </aside>
    <section>
      <div class="article-product-top">
        <div class="brand-category-choose">
          <p class="now-category">전체</p>
        </div>
        <div class="sort-option">
          <button type="button" class="sort-option-button">최신순</button>
          <button type="button" class="sort-option-button">인기순</button>
          <button type="button" class="sort-option-button">가격 높은 순</button>
          <button type="button" class="sort-option-button">가격 낮은 순</button>
        </div>
      </div>
      <div class="article-product-wrapper">
        <article class="article-product" th:each="ItemFormDTO : ${itemFormDTOList.dtoList}">
          <img th:each="ItemImgDTO : ${itemImgDTOList}" th:src="${ItemImgDTO.imgUrl}" alt="상품 이미지"
            class="article-product-image" id="item-img-src"
            th:if="${ItemImgDTO.itemId.itemId == ItemFormDTO.id && ItemImgDTO.repImgYn == 'Y'}">
          <ul class="article-product-size">
            <li th:each="size : ${sizeList}" th:text="${size.sizeName}" class="article-product-size-list"></li>
          </ul>
          <div class="article-product-name" th:text="${ItemFormDTO.itemName}"></div>
          <div class="article-product-brand" th:each="brand : ${brandList}"
            th:if="${ItemFormDTO.brand.brandId == brand.brandId}" th:text="${brand.brandName}"></div>
          <div class="article-product-price">
            <div class="article-product-price-won" th:text="${ItemFormDTO.itemPrice}"></div>
            원
          </div>
          <div class="article-product-color">
            <i class="fa-solid fa-circle red-color"></i>
            <i class="fa-solid fa-circle blue-color"></i>
          </div>
        </article>
      </div>
    </section>

  </main>
  <footer>

  </footer>

  <div class="move-btn-wrapper">
    <div class="move-top-btn"><i class="fa-solid fa-arrow-up"></i></div>
    <div class="move-bottom-btn"><i class="fa-solid fa-arrow-down"></i></div>
  </div>



</body>

</html>