<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/logo.png">
  <link rel="stylesheet" href="/css/fragments/header.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <script src="/js/font.js" defer></script>
  <script src="/js/fragments/header.js" defer></script>
  <script src="/js/index.js" defer></script>

  <title>OInJo</title>
</head>

<body>

  <div th:replace="~{/fragments/header}"></div>
  <main>

    <aside class="aside-category-wrapper">
      <div class="aside-category">
        <input type="radio" name="brand" id="category01">
        <label for="category01">브랜드<span></span></label>
        <ul>
          <li th:each="brandDto : ${brandList}">
            <span th:text="${brandDto.brandName}" class="select-name select-brand"></span>
          </li>
        </ul>
        <input type="radio" name="category" id="category02">
        <label for="category02">카테고리<span></span></label>
        <ul>
          <li th:each="categoryDto : ${categoryList}">
            <span th:text="${categoryDto.categoryName}" class="select-name select-category"></span>
          </li>
        </ul>
      </div>
    </aside>

    <section>
      <div class="article-product-top">
        <div class="brand-category-choose">
          <p class="now-category">전체</p>
        </div>
        <div class="sort-option">
          <button type="button" class="sort-option-button" id="">최신순</button>
          <button type="button" class="sort-option-button" id="like-sort">좋아요 많은 순</button>
          <button type="button" class="sort-option-button" id="price-high-sort">가격 높은 순</button>
          <button type="button" class="sort-option-button" id="price-low-sort">가격 낮은 순</button>
        </div>

      </div>
      <div class="search">
      <form th:action="@{'/'}" th:method="get" class="search-wrapper">
        <select name="type" aria-controls="dataTable" class="search-select">
          <option value="n" class="select-option">상품이름</option>
          <option value="b" class="select-option">브랜드</option>
          <option value="c" class="select-option">카테고리</option>
        </select>
        <input type="text" name="keyword" aria-controls="dataTable" class="search-input">
        <button type="submit" class="search-button search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

      <div class="article-product-wrapper">
        <a class="article-product" th:each="itemFormDTO : ${itemFormDTOList.dtoList}"
          th:href="@{'/item/' + ${itemFormDTO.id}}">
          <p class="hidden article-product-id" th:text="${itemFormDTO.id}"></p>
          <img th:each="itemImgDTO, status: ${itemFormDTO.itemImgDTOList}" th:src="${itemImgDTO.imgUrl}" alt="상품 이미지"
            th:if="${itemImgDTO.repImgYn == 'Y'}" class="article-product-image" id="item-img-src" />
          <ul class="article-product-size">
            <li th:each="size : ${sizeList}" th:if="${itemFormDTO.size.sizeId == size.sizeId}"
              th:text="${size.sizeName}" class="article-product-size-list"></li>
          </ul>
          <div class="article-product-name" th:text="${itemFormDTO.itemName}"></div>
          <div class="article-product-brand" th:each="brand : ${brandList}"
            th:if="${itemFormDTO.brand.brandId == brand.brandId}" th:text="${brand.brandName}"></div>
<!--          <div class="article-product-category" th:each="category : ${categoryList}"-->
<!--            th:if="${itemFormDTO.category.categoryId == category.categoryId}" th:text="${category.categoryName}"></div>-->
          <div class="article-product-price">
            <input type="hidden" class="item-price" th:value="${itemFormDTO.itemPrice}">
            <div class="article-product-price-won"></div>
            원
          </div>
        </a>
      </div>
    </section>


  </main>
  <footer>

  </footer>

  <div class="move-btn-wrapper">
    <div class="move-top-btn"><i class="fa-solid fa-arrow-up"></i></div>
    <div class="move-bottom-btn"><i class="fa-solid fa-arrow-down"></i></div>
  </div>



</body>

</html>