<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logo.png">
  <link rel="stylesheet" href="/css/index.css">
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <script src="/js/index.js" defer></script>
  <title>OInJo</title>
</head>

<body>
  <header>
    <div class="header-top">
      <a href="./index"><img src="/images/logo.png" alt="OInJo 로고" class="header-top-logo"></a>
      <div class="header-top-right">
        <div class="header-top-right-search"><input type="text" placeholder="Search" class="input-search"><i
            class="fa-solid fa-magnifying-glass"></i></div>
        <div class="header-top-right-ranking"><button>실시간 검색어</button>후드티 [1위]</div>
      </div>
    </div>
    <ul class="header-nav">
      <!-- 내정보 수정하기 기본 참고
        <a href="/member/update">내 정보 수정하기</a>

        세션값 확인 (로그인 했을때 추가됨)
        session 값 확인: <p th:text="${session.loginEmail}"></p>
        !-->
      <li>
        <a href="/member/update" class="header-nav-list">
          <p th:text="${session.loginEmail}"></p>
        </a>
      </li>

      <li>
        <a href="member/login" class="header-nav-list">로그인</a>
      </li>

      <a href="signin.html" class="header-nav-list">
        <li>최근본상품</li>
      </a>
      <a href="signin.html" class="header-nav-list">
        <li>장바구니</li>
      </a>
      <a href="signin.html" class="header-nav-list">
        <li>배송조회</li>
      </a>
    </ul>
  </header>
  <main>
    <aside class="aside-category-wrapper">
      <div class="aside-category">
        <input type="radio" name="category" id="category01">
        <label for="category01">상의<span>Top</span></label>
        <ul>
          <li class="select-name">후드 티셔츠</li>
          <li class="select-name">스웨트 셔츠</li>
          <li class="select-name">후드 티셔츠</li>
          <li class="select-name">후드 티셔츠</li>
        </ul>
        <input type="radio" name="category" id="category02">
        <label for="category02">하의<span>Pants</span></label>
        <ul>
          <li class="select-name">데님 팬츠</li>
          <li class="select-name">트레이닝 팬츠</li>
          <li class="select-name">코튼 팬츠</li>
          <li class="select-name">레깅스</li>
        </ul>
        <input type="radio" name="category" id="category03">
        <label for="category03">신발<span>Shoes</span></label>
        <ul>
          <li class="select-name">스니커즈</li>
          <li class="select-name">구두</li>
          <li class="select-name">운동화</li>
          <li class="select-name">슬리퍼</li>
        </ul>
        <input type="radio" name="category" id="category04">
        <label for="category04">반려동물<span>Pet</span></label>
        <ul>
          <li class="select-name">반려동물 의류</li>
          <li class="select-name">반려동물 용품</li>
          <li class="select-name">반려동물 푸드</li>
          <li class="select-name">반려동물 잡화</li>
        </ul>
      </div>
    </aside>
    <section>
      <div class="article-product-top">
        <div class="now-category">OUTER</div>
        <select name="sort-option" class="now-select-option">
          <option value="">판매 많은 순</option>
          <option value="">가격 낮은 순</option>
          <option value="">가격 높은 순</option>
          <option value="">최근 상품 순</option>
        </select>
      </div>
      <div class="article-product-wrapper">
        <article class="article-product">
          <img src="/images/product.png" alt="상품 이미지" class="article-product-image">
          <ul class="article-product-size">
            <li class="article-product-size-list">S</li>
            <li class="article-product-size-list">M</li>
            <li class="article-product-size-list">L</li>
          </ul>
          <div class="article-product-name">루키 언스트럭쳐 볼캡 NY</div>
          <div class="article-product-brand">MLB</div>
          <div class="article-product-price">19,000원</div>
          <div class="article-product-hit-sale-wrapper">
            <div class="article-product-hit-sale hit">HIT</div>
            <div class="article-product-hit-sale sale">SALE</div>
          </div>
          <div class="article-product-color">
            <i class="fa-solid fa-circle red-color"></i>
            <i class="fa-solid fa-circle blue-color"></i>
          </div>
          <div class="article-product-heart"><i class="fa-solid fa-heart product-heart-icon"></i>123</div>
        </article>
        <article class="article-product">
          <img src="/images/product.png" alt="상품 이미지" class="article-product-image">
          <ul class="article-product-size">
            <li class="article-product-size-list">S</li>
            <li class="article-product-size-list">M</li>
            <li class="article-product-size-list">L</li>
          </ul>
          <div class="article-product-name">루키 언스트럭쳐 볼캡 NY</div>
          <div class="article-product-brand">MLB</div>
          <div class="article-product-price">19,000원</div>
          <div class="article-product-color">
            <i class="fa-solid fa-circle red-color"></i>
            <i class="fa-solid fa-circle blue-color"></i>
          </div>
          <div class="article-product-heart"><i class="fa-solid fa-heart product-heart-icon"></i>123</div>
        </article>
        <article class="article-product">
          <img src="/images/product.png" alt="상품 이미지" class="article-product-image">
          <ul class="article-product-size">
            <li class="article-product-size-list">S</li>
            <li class="article-product-size-list">M</li>
            <li class="article-product-size-list">L</li>
          </ul>
          <div class="article-product-name">루키 언스트럭쳐 볼캡 NY</div>
          <div class="article-product-brand">MLB</div>
          <div class="article-product-price">19,000원</div>
          <div class="article-product-color">
            <i class="fa-solid fa-circle red-color"></i>
            <i class="fa-solid fa-circle blue-color"></i>
          </div>
          <div class="article-product-heart"><i class="fa-solid fa-heart product-heart-icon"></i>123</div>
        </article>
        <article class="article-product">
          <img src="/images/product.png" alt="상품 이미지" class="article-product-image">
          <ul class="article-product-size">
            <li class="article-product-size-list">S</li>
            <li class="article-product-size-list">M</li>
            <li class="article-product-size-list">L</li>
          </ul>
          <div class="article-product-name">루키 언스트럭쳐 볼캡 NY</div>
          <div class="article-product-brand">MLB</div>
          <div class="article-product-price">19,000원</div>
          <div class="article-product-color">
            <i class="fa-solid fa-circle red-color"></i>
            <i class="fa-solid fa-circle blue-color"></i>
          </div>
          <div class="article-product-heart"><i class="fa-solid fa-heart product-heart-icon"></i>123</div>
        </article>
        <article class="article-product">
          <img src="/images/product.png" alt="상품 이미지" class="article-product-image">
          <ul class="article-product-size">
            <li class="article-product-size-list">S</li>
            <li class="article-product-size-list">M</li>
            <li class="article-product-size-list">L</li>
          </ul>
          <div class="article-product-name">루키 언스트럭쳐 볼캡 NY</div>
          <div class="article-product-brand">MLB</div>
          <div class="article-product-price">19,000원</div>
          <div class="article-product-color">
            <i class="fa-solid fa-circle red-color"></i>
            <i class="fa-solid fa-circle blue-color"></i>
          </div>
          <div class="article-product-heart"><i class="fa-solid fa-heart product-heart-icon"></i>123</div>
        </article>
        <article class="article-product">
          <img src="/images/product.png" alt="상품 이미지" class="article-product-image">
          <ul class="article-product-size">
            <li class="article-product-size-list">S</li>
            <li class="article-product-size-list">M</li>
            <li class="article-product-size-list">L</li>
          </ul>
          <div class="article-product-name">루키 언스트럭쳐 볼캡 NY</div>
          <div class="article-product-brand">MLB</div>
          <div class="article-product-price">19,000원</div>
          <div class="article-product-color">
            <i class="fa-solid fa-circle red-color"></i>
            <i class="fa-solid fa-circle blue-color"></i>
          </div>
          <div class="article-product-heart"><i class="fa-solid fa-heart product-heart-icon"></i>123</div>
        </article>
        <article class="article-product">
          <img src="/images/product.png" alt="상품 이미지" class="article-product-image">
          <ul class="article-product-size">
            <li class="article-product-size-list">S</li>
            <li class="article-product-size-list">M</li>
            <li class="article-product-size-list">L</li>
          </ul>
          <div class="article-product-name">루키 언스트럭쳐 볼캡 NY</div>
          <div class="article-product-brand">MLB</div>
          <div class="article-product-price">19,000원</div>
          <div class="article-product-color">
            <i class="fa-solid fa-circle red-color"></i>
            <i class="fa-solid fa-circle blue-color"></i>
          </div>
          <div class="article-product-heart"><i class="fa-solid fa-heart product-heart-icon"></i>123</div>
        </article>
        <article class="article-product">
          <img src="/images/product.png" alt="상품 이미지" class="article-product-image">
          <ul class="article-product-size">
            <li class="article-product-size-list">S</li>
            <li class="article-product-size-list">M</li>
            <li class="article-product-size-list">L</li>
          </ul>
          <div class="article-product-name">루키 언스트럭쳐 볼캡 NY</div>
          <div class="article-product-brand">MLB</div>
          <div class="article-product-price">19,000원</div>
          <div class="article-product-color">
            <i class="fa-solid fa-circle red-color"></i>
            <i class="fa-solid fa-circle blue-color"></i>
          </div>
          <div class="article-product-heart"><i class="fa-solid fa-heart product-heart-icon"></i>123</div>
        </article>

      </div>
    </section>

  </main>
  <footer>

  </footer>

  <div class="move-btn-wrapper">
    <div class="move-top-btn"><i class="fa-solid fa-arrow-up"></i></div>
    <div class="move-bottom-btn"><i class="fa-solid fa-arrow-down"></i></div>
  </div>
</body>

</html>