<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>장바구니 테스트</title>
</head>
<body>
  <form action="" method="post">
    <input type="text" name="" placeholder="브랜드명">
    <input type="text" name="" placeholder="상품명">
    <input type="text" name="" placeholder="상품번호">
    <input type="text" name="" placeholder="상품수량">
    <input type="text" name="" placeholder="상품단가">
    <input type="text" name="" placeholder="상품총액">
    <input type="submit" value="장바구니 담기">
  </form>
</body>
</html>