<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logo.png">
  <link rel="stylesheet" href="/css/paymentcompleted.css">
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/paymentcompleted.css">
   <script src="/js/complpaymenteted.js" defer></script>
   <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
   <link rel="icon" href="/images/logo.png">
   <link rel="manifest" href="/favicon/site.webmanifest">
   <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <title>결제 완료</title>
</head>
<body>
    <section class="order-complete-form">
        <div class="button">
            <a href="">button  class="payment-receipt">결제 영수증</button></a>
            <a href=""><button class="Statement-transactions">거래 내역서</button></a>         
        </div>
        <h1>고객님 상품 주문이 완료되었습니다.</h1>
        <div class="order-information">
            <div class="user-name">고객이름 :
            <span>김영성</span> 
            </div>
            <div class="phone-number">전화번호 :
                <span>010-1111-2222</span>
            </div>
            <div class="user-address">고객주소 : 
                <span>서울 동대문구 </span>
            </div>
            <div class="order-day">주문날짜 : 
                <span>2023년 06월 01일</span>
            </div>
            <div class="payment-price">결제금액 : 
                <span>30,000원</span>
            </div>
            <div class="order-number">주문번호 : 
                <span>000000000000</span> 
            </div>
        </div>
        <div class="button-form">
            <a href=""> <button  class="order-check">주문내역 확인</button></a>
            <a href=""><button class="main-page">메인으로</button></a>
            
        </div>
    </section>
</body>
</html>