<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/payment.js" defer></script>
    <link rel="stylesheet" href="css/payment.js">
    <link rel="stylesheet" href="../static/css/root.css">
    <script src="../static/js/payment.js" defer></script>
    <link rel="stylesheet" href="../static/css/payment.css">
    <title>결제</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="icon" href="/images/logo.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header-left">
            <a href="/"><img src="/images/logo.png" alt="LOGO" class="header-logo"></a>
        </div>
        <nav class="header-right">
            <p class="login-check" th:text="${session.loginEmail}"></p>
            <a href="member/update" class="update-link header-link">
                <i class="fa-solid fa-user-pen header-link-icon"></i>
                정보수정
            </a>
            <a href="member/logout" class="logout-link header-link">
                <i class="fa-solid fa-user-minus header-link-icon"></i>
                로그아웃
            </a>
            <a href="member/login" class="login-link header-link">
                <i class="fa-solid fa-user-plus header-link-icon"></i>
                로그인
            </a>
            <a href="" class="header-link">
                <i class="fa-solid fa-tags header-link-icon"></i>
                최근본상품
            </a>
            <a href="" class="header-link shopping-bag">
                <i class="fa-solid fa-cart-shopping header-link-icon"></i>
                장바구니
                <div class="shopping-bag-count">1</div>
            </a>
            <a href="" class="header-link">
                <i class="fa-solid fa-house header-link-icon"></i>
                마이페이지
            </a>
        </nav>
    </header>
    <section class="payment-page">
        <h2>주문하기</h2>
        <div class="address-select">
            <span>배송지 선택</span>
            <input type="radio" name="" id="member-address">
            <label for="member-address">김영성님 배송지</label>
            <input type="radio" name="" id="new-address">
            <label for="new-address">새로운 배송지</label>
        </div>
        <div class="delivery-information">
            <h4 class="delivery-information-title">배송 정보</h4>
            <div class="user-name">이름
                <span>김영성</span>
            </div>
            <div class="phone-number">연락처
                <span>010-1111-2222</span>
            </div>
            <div class="user-address">배송지 주소
                <span>서울 동대문구 </span>
            </div>
            <div class="delivery-form">
                배송 요청사항
                <select id="mySelect" name="mySelect" onchange="handleSelectChange()" class="delivery-request-select">
                    <option value="">선택하세요</option>
                    <option value="option1">집 앞에 놔주세요.</option>
                    <option value="option2">경비실에 맡겨놔주세요.</option>
                    <option value="option3">택배함에 넣어주세요.</option>
                    <option value="option4">배송 전 꼭 연락해주세요.</option>
                    <option value="option5">파손 위험이 있어요. 주의해주세요.</option>
                </select>
            </div>
        </div>
        <div class="payment-method">
            <h4 class="payment-method-title">결제 방식</h4>
            <div class="payment-method-button-wrapper">
                <button class="payment-method-button">카드</button>
                <button class="payment-method-button">계좌이체</button>
                <button class="payment-method-button">무통장입금</button>
                <button class="payment-method-button">휴대폰결제</button>
                <button class="payment-method-button">애플페이</button>
                <button class="payment-method-button">삼성페이</button>
            </div>
        </div>
        <div class="price-form-wrapper">
            <h4 class="price-form-title">상품 가격</h4>
            <div class="price-form">
                <div class="price-form-left">
                    <img src="../static/images/product.png" alt="상품 이미지" class="price-form-image">
                    <div class="price-form-product-info">
                        <p class="product-info-title">엄청 좋은 상품</p>
                        <p class="product-option-info"><span class="product-option">Blue M</span><span
                                class="product-option-count">(3)</span></p>
                    </div>
                </div>
                <div class="price-form-price">
                    <span class="price-form-price-won">100,000</span>
                    원
                </div>
            </div>
        </div>
        <div class="total-price-content">
            <span class="price-count">1</span>
            <span class="price-content-section">개의 상품 금액</span>
            <span class="product-price">1,000,000</span>
            <span class="price-content-section">원</span>
            <i class="fa-solid fa-plus price-content-section total-price-content-icon plus-icon"></i>
            <span class="price-content-section">배송비</span>
            <span class="delivery-price">2,500</span>
            <span class="price-content-section">원</span>
            <i class="fa-solid fa-equals price-content-section total-price-content-icon equal-icon"></i>
            <span class="price-content-section">합계</span>
            <span class="total-price">1,002,500</span>
            <span class="price-content-section last-price-content-section">원</span>
          </div>
        <div class="payment-bottom-button">
            <input type="submit" value="결제하기" class="order-button">
        </div>

    </section>
</body>

</html>