<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 등록 테스트 페이지</title>
</head>

<body>
  <form action="/admin/item/new" method="post">
  <h3>상품 등록 테스트 폼</h3>
  <div>
    상품 이름<input type="text" name="productName"></div>
  <div>
    상품 상태<input type="text" name="productStatus"></div>
  <div>
    상품 가격<input type="text" name="productPrice"></div>
  <div>
    상품 재고<input type="text" name="productStock"></div>
  <div>
    상품 설명<input type="text" name="productDetail"></div>
    <input type="submit" value="상품 등록하기">
  </form>
  <hr>
  <form action="" method="post">
    <h3>상품 카테고리 등록 테스트 폼</h3>
    <div>
      상품 카테고리
      <input type="text" name="productCategory">
      <input type="submit" value="상품 카테고리 등록하기">
    </div>
  </form>
  <hr>
  <form action="" method="post">
    <h3>상품 브랜드 등록 테스트 폼</h3>
    <div>
      상품 브랜드
      <input type="text" name="productBrand">
      <input type="submit" value="상품 브랜드 등록하기">
    </div>
  </form>
  <hr>
  <form action="" method="post">
    <h3>상품 색상 등록 테스트 폼</h3>
    <div>
      상품 색상
      <input type="text" name="productOpt1">
      <input type="submit" value="상품 색상 등록하기">
    </div>
  </form>
  <hr>
  <form action="" method="post">
    <h3>상품 사이즈 등록 테스트 폼</h3>
    <div>
      상품 사이즈
      <input type="text" name="productOpt2">
      <input type="submit" value="상품 사이즈 등록하기">
    </div>
  </form>
  <hr>
</body>

</html>
