<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <script src="/js/font.js" defer></script>
  <link rel="icon" href="images/logo.png">
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/cart.css">
  <link rel="stylesheet" href="../../static/css/root.css">
  <link rel="stylesheet" href="../../static/css/cart.css">
  <title>장바구니</title>
</head>

<body>
  <header>
    <div class="header-left">
      <a href="/"><img src="/images/logo.png" alt="LOGO" class="header-logo"></a>
    </div>
    <nav class="header-right">
      <p class="login-check" th:text="${session.loginEmail}"></p>
      <a href="member/update" class="update-link header-link">
        <i class="fa-solid fa-user-pen header-link-icon"></i>
        정보수정
      </a>
      <a href="member/logout" class="logout-link header-link">
        <i class="fa-solid fa-user-minus header-link-icon"></i>
        로그아웃
      </a>
      <a href="member/login" class="login-link header-link">
        <i class="fa-solid fa-user-plus header-link-icon"></i>
        로그인
      </a>
      <a href="" class="header-link">
        <i class="fa-solid fa-tags header-link-icon"></i>
        최근본상품
      </a>
      <a href="" class="header-link shopping-bag">
        <i class="fa-solid fa-cart-shopping header-link-icon"></i>
        장바구니
        <div class="shopping-bag-count">1</div>
      </a>
      <a href="" class="header-link">
        <i class="fa-solid fa-house header-link-icon"></i>
        마이페이지
      </a>
    </nav>
  </header>
  <main class="cart-main">
    <h4 class="cart-title">장바구니</h4>
    <!-- <p class="no-cart">장바구니에 상품이 없습니다.</p> -->
    <section class="cart-wrapper">
      <header class="cart-header">
        <input type="checkbox" name="" id="" class="cart-header-check">
        <div class="cart-header-image"></div>
        <div class="cart-header-product-option">상품/옵션</div>
        <div class="cart-header-count">수량</div>
        <div class="cart-header-price">상품금액</div>
        <div class="cart-header-total-price">합계금액</div>
      </header>
      <article class="cart-content">
        <input type="checkbox" name="" id="" class="cart-content-check">
        <img src="/images/product.png" alt="장바구니 상품 사진" class="cart-content-image">
        <div class="cart-content-product-option">
          <p class="cart-content-product">안녕하세요 바지이름</p>
          <p class="cart-content-size">S Size</p>
        </div>
        <div class="cart-content-count">
          <i class="fa-solid fa-minus count-icon"></i>
          <span class="cart-content-counting">1</span>
          <i class="fa-solid fa-plus count-icon"></i>
        </div>
        <div class="cart-content-price">
          <span class="cart-content-price-won">30,000</span>
          <span>원</span>
        </div>
        <div class="cart-content-total-price">
          <span class="cart-content-total-price-won">60,000</span>
          <span>원</span>
        </div>
      </article>
      <a href="" class="before-page-button">쇼핑 계속하기</a>
      <div class="total-price-content">
        <span class="price-count">5</span>
        <span class="price-content-section">개의 상품 금액</span>
        <span class="product-price">1,000,000</span>
        <span class="price-content-section">원</span>
        <i class="fa-solid fa-plus price-content-section total-price-content-icon plus-icon"></i>
        <span class="price-content-section">배송비</span>
        <span class="delivery-price">2,500</span>
        <span class="price-content-section">원</span>
        <i class="fa-solid fa-equals price-content-section total-price-content-icon equal-icon"></i>
        <span class="price-content-section">합계</span>
        <span class="total-price">1,002,500</span>
        <span class="price-content-section last-price-content-section">원</span>
      </div>
      <div class="cart-bottom-button">
        <button type="button" class="select-price-delete-button">선택상품삭제</button>
        <input type="submit" value="주문하기" class="order-button">
      </div>
    </section>
  </main>
</body>

</html>