h1{
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 780px;
}

.order-complete-form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
}

.order-information{
    display: grid; /* Grid 레이아웃을 사용하여 2개씩 3줄로 표시 */
    grid-template-columns: repeat(2, 1fr); /* 2개 열로 나눔 */
    gap: 15px; /* 항목 사이의 간격 */
    border: 2px solid #d9d9d9;
    width: 700px;
    padding: 30px 40px;
    margin-top: 30px;
    background-color: #f9f9ff;
}

.order-information div {
    width: 100%;
}

.button-form{
    display: flex;
    margin-top: 30px;
}

.order-check {
    width: 100px;
    height: 40px;
    margin-right: 20px;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}

.main-page{
    width: 100px;
    height: 40px;
    background-color: #31363d;
    color: white;
    border: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .button {
        margin-left: 30%;
    }

    .order-complete-form, .order-information {
        width: 90%;
    }

    .order-information div {
        width: 100%;
    }

    .button-form {
        margin-left: 30%;
    }
}

@media (max-width: 480px) {
    .button {
        margin-left: 10%;
    }

    .order-complete-form, .order-information {
        width: 95%;
    }

    .order-information div {
        width: 100%;
    }

    .button-form {
        margin-left: 10%;
    }
}