<header class="admin-header">
  <h3 class="admin-title">쇼핑몰 관리자</h3>
  <a href="/" class="header-right-link">
    <i class="fa-solid fa-cart-shopping header-right-link-icon"></i>
    <p>사용자 페이지로</p>
  </a>
</header>
<section class="admin-section">
  <nav class="admin-nav">
    <div class="nav-header">
      <i class="fa-solid fa-crown nav-admin-icon"></i>
      <p class="nav-admin-text">관리자</p>
    </div>
    <ul class="admin-ul">
      <a href="/admin/brand/new" class="admin-link">
        <i class="fa-solid fa-building"></i>
        <li>브랜드 등록</li>
      </a>
      <a href="/admin/category/new" class="admin-link">
        <i class="fa-regular fa-object-group"></i>
        <li>카테고리 등록</li>
      </a>
      <a href="/admin/size/new" class="admin-link">
        <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
        <li>사이즈 등록</li>
      </a>
      <a href="/admin/color/new" class=admin-link>
        <i class="fa-solid fa-palette"></i>
        <li>색상 등록</li>
      </a>
      <a href="/admin/item/new" class="admin-link">
        <i class="fa-solid fa-basket-shopping"></i>
        <li>상품 등록</li>
      </a>
      <a href="/member" class=admin-link>
        <i class="fa-solid fa-user"></i>
        <li>회원 조회</li>
      </a>
      <a href="/admin/item" class="admin-link">
        <i class="fa-solid fa-shirt"></i>
        <li>상품 조회</li>
      </a>
    </ul>
  </nav>