<header>
  <p class="login-check" th:text="${session.loginEmail}"></p>
  <a href="/" class="index-link"><h1>OInJo</h1></a>
  <div class="header-link-wrapper">
    <div class="header-link-top">
      <a href="/member/save" class="signup-link">회원가입</a>
      <a href="/member/login" class="login-link">로그인</a>
      <a href="/member/logout" class="logout-link">로그아웃</a>
      <a href="/admin" class="admin-link">관리자</a>
      <a href="/member/update" class="update-link" th:text="${session.loginId} + '님'"></a>
    </div>
    <div class="header-link-bottom">
      <a href="/orders/list" class="header-link">
        <i class="fa-solid fa-user"></i>
        <p>주문내역</p>
      </a>
      <a th:href="@{'/member/' + ${session.loginId} + '/cart'}" class="header-link">
        <i class="fa-solid fa-cart-shopping"></i>
        <p>장바구니</p>
      </a>

      <a href="/item/recentproduct" class="header-link">
        <i class="fa-solid fa-gift"></i>
        <p>최근본상품</p>
      </a>

    </div>
  </div>
</header>