/* first-article */
.save-form-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.save-article {
  width: 30%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3% 5%;
}

.save-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: cornflowerblue;
}

.save-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5%;
  margin-bottom: 50px;
}

.step {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

.now {
  background-color: cornflowerblue;
}


.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.icon {
  position: absolute;
  top: 0%;
  color: rgba(0, 0, 0, 0.3);
}

.input {
  all: unset;
  padding-left: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wrong-form-message {
  color: #ff3f3f;
  margin-top: 10px;
  margin-bottom: 0;
}

.next-button {
  all: unset;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  height: 50px;
}

.login-return-button {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

/* second article */
.address-input-wrapper {
  display: flex;
  gap: 3px;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
}

.zipcode,
.address-search-button {
  all: unset;
  height: 100%;
  padding: 2% 3%;
}

.zipcode {
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.address-search-button {
  width: 100px;
  background-color: black;
  color: white;
}

.address-input {
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 50px;
  font-size: 18px;
  padding: 0 2.5%;
}

/* third article */
.email-input-wrapper,
.certification-input-wrapper {
  width: 100%;
  height: 50px;
  position: relative;
}

.email-input {
  width: 100%;
}

.email-icon,
.certification-icon {
  position: absolute;
  top: 0;
}

.certification-start-button,
.certification-button {
  all: unset;
  position: absolute;
  top: 0;
  right: -10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.certification-input {
  width: 100%;
}

/* fourth article */
.password-input-wrapper,
.repassword-input-wrapper {
  width: 100%;
  height: 50px;
  position: relative;
}

.password-icon,
.repassword-icon {
  position: absolute;
  top: 0;
  color: rgba(0, 0, 0, 0.3);
}

.password-input,
.repassword-input {
  all: unset;
  width: 90%;
  padding-left: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.password-toggle-button,
.repassword-toggle-button {
  position: absolute;
  top: 0;
  right: 0;
}

.wrong {
  color:#ff3f3f;
  border-color:#ff3f3f;
}

.validation-pass {
  background-color:cornflowerblue;
}


