body {
  display: flex;
  height: 1024px;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
}

.withdrawal {
  background-color: white;
  width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.logo {
  padding: 10px;
  height: 100px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.withdrawal-title {
  color: red;
  font-size: 25px;
  padding: 10px;
  border-bottom: 1px solid black;
  font-weight: 700;
}

.withdrawal-title i {
  margin-right: 5px;
}

.notice {
  border-bottom: 1px solid black;
}

.notice-title {
  color: tomato;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.notice-detail {
  font-size: 18px;
  padding-bottom: 5px;
}

.notice-delete-data {
  display: flex;
  padding-bottom: 20px;
}

.delete-data {
  width: 130px;
  font-size: 20px;
  background-color: red;
  color: white;
  margin-right: 10px;
  text-align: center;
}

.delete-data-detail {
  font-size: 14px;
  padding-top: 5px;
}

.reason-check-title {
  padding: 10px;
  font-size: 20px;
  color: tomato;
  font-weight: 600;
}

.reason-check-title i {
  margin-right: 5px;
}

.reason-check-detail {
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 500;
}

.reason-check-list-wrapper {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.user-info-check {
  padding: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.user-info-check-title {
  color: tomato;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 600;
}

.user-info-check-title i {
  margin-right: 5px;
}

.id-check {
  padding-bottom: 10px;
}

.pw-check {
  display: flex;
}

.pw-check input {
  all: unset;
  /* border-right:1px solid black; */
  margin-right: 5px;
}

.pw-check-icon {
  color: red;
}

.withdrawal-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.withdrawal-button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #545151;
  border: 0px;
}

.hidden {
  display:none;
}