<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/font.js" defer></script>
  <link rel="icon" href="/images/logo.png">
  <link rel="stylesheet" href="/css/admin/adminindex.css">
  <link rel="stylesheet" href="../../static/css/admin/adminindex.css">
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <title>관리자</title>
</head>

<body>
  <div th:replace="~{/fragments/adminheader}"></div>
    <main class="admin-main">

    </main>
  </section>
</body>

</html>