<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/upload.css">
  <script src="/js/upload.js" defer></script>
  <link rel="stylesheet" href="../../static/css/upload.css">
  <script src="../../static/js/upload.js" defer></script>
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <title>브랜드 등록</title>
</head>

<body>
  <section class="upload-section">
    <div th:replace="~{/fragments/uploadnav :: nav}"></div>
    <form action="/admin/brand/new" method="post" class="upload-form">
      <label for="brand" class="upload-label">브랜드 등록</label>
      <div class="upload-input-button-wrapper">
        <input type="text" name="brandName" id="brand" class="upload-input">
        <i class="fa-solid fa-plus upload-button"></i>
      </div>
    </form>
    <ul class="ul-wrapper">
      <li th:each="brandDto : ${brandList}" class="database-list">
          <span th:text="${brandDto.brandId}" class="id brand-id"></span>
          <span th:text="${brandDto.brandName}" class="name brand-name">나이키</span>
          <i class="fa-solid fa-trash delete-button"></i>
      </li>
  </ul>
  </section>
  
</body>

</html>