<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/font.js" defer></script>
  <link rel="icon" href="/images/logo.png">
  <link rel="stylesheet" href="../../static/css/adminindex.css">
  <link rel="stylesheet" href="/css/adminindex.css">
  <link rel="stylesheet" href="../../static/css/upload.css">
  <link rel="stylesheet" href="/css/upload.css">
  <script src="/js/upload.js" defer></script>
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <title>색상 등록</title>
</head>

<body>
  <div th:replace="~{/fragments/adminheader}"></div>
    <main class="admin-main">
      <form action="/admin/color/new" method="post" class="upload-form">
        <label for="color" class="upload-label">색상 등록</label>
        <div class="upload-input-button-wrapper">
          <input type="text" name="colorName" id="color" class="upload-input">
          <i class="fa-solid fa-plus upload-button"></i>
        </div>
      </form>
      <ul class="ul-wrapper">
        <li th:each="colorDto : ${colorList}" class="database-list">
            <span th:text="${colorDto.colorId}" class="id color-id"></span>
            <span th:text="${colorDto.colorName}" class="name color-name"></span>
            <a th:href="@{'/admin/color/delete/'+${colorDto.colorId}}"><i class="fa-solid fa-trash delete-button"></i></a>
        </li>
    </ul>
  
    </main>
</body>

</html>