<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:input="http://www.w3.org/1999/html" layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/font.js" defer></script>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/adminindex.css">
    <link rel="stylesheet" href="../../static/css/adminindex.css">
    <link rel="stylesheet" href="../../static/css/itemview.css">
    <link rel="stylesheet" href="/css/itemview.css">
    <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
    <title>상품 수정</title>
</head>

<body>

    <div th:replace="~{/fragments/adminheader}"></div>
    <main class="admin-main">
        <div th:each="ItemFormDTO : ${itemFormDTO}">
            <form id="itemForm" action="" method="POST" enctype="multipart/form-data">
                <!-- <input type="file" name="itemImgFile"/> -->
                <input type="hidden" name="id" th:value="${ItemFormDTO.id}" id="id">
                <h3 th:text="${ItemFormDTO.itemName}+' 상품 상세조회'" class="itemview-title"></h3>
                <div class="item-form-row">
                    <label for="itemName" class="item-form-label">상품명</label>
                    <input type="text" th:value="${ItemFormDTO.itemName}" id="itemName" class="item-form-value" name="itemName" />
                </div>
                <div class="item-form-row">
                    <label for="itemPrice" class="item-form-label">상품가격</label>
                    <input type="text" th:value="${ItemFormDTO.itemPrice}" id="itemPrice" class="item-form-value" name="itemPrice"/>
                </div>
                <div class="item-form-row">
                    <label for="itemStock" class="item-form-label">상품재고</label>
                    <input type="text" th:value="${ItemFormDTO.itemStock}" id="itemStock" class="item-form-value" name="itemStock"/>
                </div>
                <div class="item-form-row">
                    <label for="itemDetail" class="item-form-label">상품설명</label>
                    <input type="text" th:value="${ItemFormDTO.itemDetail}" id="itemDetail" class="item-form-value" name="itemDetail"/>
                </div>
                <div class="itemview-update-button-wrapper">
                    <input type="submit" value="상품 수정" id="update-btn">
                    <input type="submit" value="상품 삭제" id="delete-btn">
                </div>
            </form>
        </div>

    </main>
    </section>
    <script>
        const itemForm = document.querySelector("#itemForm");
        const id = document.querySelector("#id").value;
        const updateBtn = document.querySelector("#update-btn");
        const deleteBtn = document.querySelector("#delete-btn");

        updateBtn.addEventListener("click", function (event) {
            event.preventDefault();
            itemForm.action = "/admin/item/" + id;
            // itemForm.method = "POST"
            itemForm.submit();
        });

        deleteBtn.addEventListener("click", function (event) {
            event.preventDefault();
            itemForm.action = "/admin/item/" + id + "/delete";
            // itemForm.method = "DELETE"
            itemForm.submit();
        });

        // const itemForm = document.querySelector("#itemForm");
        // const id = document.querySelector("#id").value;
        // const updateBtn = document.querySelector("#update-btn");
        // const deleteBtn = document.querySelector("#delete-btn");

        // updateBtn.addEventListener("click", function (event) {
        //     event.preventDefault();
        //     const itemName = document.querySelector("#itemName").value;
        //     const itemPrice = document.querySelector("#itemPrice").value;
        //     const itemStock = document.querySelector("#itemStock").value;
        //     const itemDetail = document.querySelector("#itemDetail").value;

        //     const formData = new FormData();
        //     formData.append("id", id);
        //     formData.append("itemName", itemName);
        //     formData.append("itemPrice", itemPrice);
        //     formData.append("itemStock", itemStock);
        //     formData.append("itemDetail", itemDetail);

        //     fetch(`/admin/item/${id}`, {
        //         method: "POST",
        //         body: formData,
        //     })
        //         .then(response => {
        //             if (response.ok) {
        //                 alert("상품이 성공적으로 수정되었습니다.");
        //                 location.href = "/admin/item";
        //             } else {
        //                 alert("상품 수정 중 오류가 발생하였습니다.");
        //             }
        //         })
        //         .catch(error => {
        //             console.error("상품 수정 중 오류가 발생하였습니다.", error);
        //         });
        // });

        // deleteBtn.addEventListener("click", function (event) {
        //     event.preventDefault();
        //     const confirmDelete = confirm("정말로 상품을 삭제하시겠습니까?");
        //     if (confirmDelete) {
        //         fetch(`/admin/item/${id}/delete`, {
        //             method: "DELETE",
        //         })
        //             .then(response => {
        //                 if (response.ok) {
        //                     alert("상품이 성공적으로 삭제되었습니다.");
        //                     location.href = "/admin/item";
        //                 } else {
        //                     alert("상품 삭제 중 오류가 발생하였습니다.");
        //                 }
        //             })
        //             .catch(error => {
        //                 console.error("상품 삭제 중 오류가 발생하였습니다.", error);
        //             });
        //     }
        // });

    </script>
</body>

</html>