<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/upload.css">
  <script src="/js/upload.js" defer></script>
  <link rel="stylesheet" href="../../static/css/upload.css">
  <script src="../../static/js/upload.js" defer></script>
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <script src="../../static/js/font.js" defer></script>
  <script src="/font.js" defer></script>
  <title>상품 등록</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {
        var errorMessage = [[${ errorMessage }]];
        var errorType = [[${ errorType }]];
        if (errorMessage != null) {
          alert(errorMessage);
          alert(errorType)
        }

        bindDomEvent();

      });

      function bindDomEvent() {
        $(".custom-file-input").on("change", function () {
          var fileName = $(this).val().split("\\").pop();  //이미지 파일명
          var fileExt = fileName.substring(fileName.lastIndexOf(".") + 1); // 확장자 추출
          fileExt = fileExt.toLowerCase(); //소문자 변환

          if (fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp") {
            alert("이미지 파일만 등록이 가능합니다.");
            return;
          }

          $(this).siblings(".custom-file-label").html(fileName);
        });
      }

    </script>

  </th:block>

</head>

<body>
  <section class="upload-section">
    <div th:replace="~{/fragments/uploadnav :: nav}"></div>
    <form action="/admin/item/new" method="post" enctype="multipart/form-data" th:object="${itemFormDTO}"
      class="upload-form">
      <input type="text" class="id-input brand-id-input" name="brand">
      <input type="text" class="id-input category-id-input" name="category">
      <input type="text" class="id-input color-id-input" name="color">
      <input type="text" class="id-input size-id-input" name="size">
      <section class="connection-table-ul-wrapper">
        <!-- <input type="hidden" name=""> -->
        <ul class="connection-table-ul">
          <p class="connection-table-title">브랜드</p>
          <li th:each="brandDto : ${brandList}" class="connection-table-li">
            <span th:text="${brandDto.brandId}" class="id brand-id"></span>
            <span th:text="${brandDto.brandName}" class="brand-name"></span>
          </li>
        </ul>
        <ul class="connection-table-ul">
          <p class="connection-table-title">카테고리</p>
          <li th:each="categoryDto : ${categoryList}" class="connection-table-li">
            <span th:text="${categoryDto.categoryId}" class="id category-id"></span>
            <span th:text="${categoryDto.categoryName}" class="category-name"></span>
          </li>
        </ul>
        <ul class="connection-table-ul">
          <p class="connection-table-title">색상</p>
          <li th:each="colorDto : ${colorList}" class="connection-table-li">
            <span th:text="${colorDto.colorId}" class="id color-id"></span>
            <span th:text="${colorDto.colorName}" class="color-name"></span>
          </li>
        </ul>
        <ul class="connection-table-ul">
          <p class="connection-table-title">사이즈</p>
          <li th:each="sizeDto : ${sizeList}" class="connection-table-li">
            <span th:text="${sizeDto.sizeId}" class="id size-id"></span>
            <span th:text="${sizeDto.sizeName}" class="size-name"></span>
          </li>
        </ul>
      </section>
      <label for="item-name">상품이름</label>
      <div class="upload-input-button-wrapper item-upload-input-button-wrapper">
        <input type="text" name="itemName" id="item-name" class="upload-input">
      </div>
      <label for="item-price">상품가격</label>
      <div class="upload-input-button-wrapper item-upload-input-button-wrapper">
        <input type="text" name="itemPrice" id="item-price" class="upload-input">
        <span class="upload-input-right-text">원</span>
      </div>
      <label for="item-stock">상품재고</label>
      <div class="upload-input-button-wrapper item-upload-input-button-wrapper">
        <input type="text" name="itemStock" id="item-stock" class="upload-input">
        <span class="upload-input-right-text">개</span>
      </div>
      <label for="item-detail">상품설명</label>
      <div class="upload-input-button-wrapper item-upload-input-button-wrapper">
        <input type="text" name="itemDetail" id="item-detail" class="upload-input">
      </div>

      <p>상품상태</p>
      <div class="status-form-group">
        <select th:field="*{itemSellStatus}" class="custom-select">
          <option value="SELL">판매중</option>
          <option value="SOLD_OUT">품절</option>
        </select>
      </div>
      <p>상품이미지</p>
      <div th:if="${#lists.isEmpty(itemFormDTO.itemImgDTOList)}">
        <div th:each="num: ${#numbers.sequence(1,5)}" class="img-form-group">
          <div class="custom-file img-div">
            <input type="file" class="custom-file-input" name="itemImgFile">
            <label class="custom-file-label" th:text="상품이미지 + ${num}"></label>
          </div>
        </div>
      </div>

      <div th:if="${not #lists.isEmpty(itemFormDTO.itemImgDTOList)}">
        <div th:each="itemImgDTO, status: ${itemFormDTO.itemImgDTOList}" class="img-form-group">
          <div>
            <input type="file" class="custom-file-input" name="itemImgFile">
            <input type="hidden" name="itemImgId" th:value="${itemImgDTO.itemImgId}">
            <label
              th:text="${not #strings.isEmpty(itemImgDTO.oriName)} ? ${itemImgDTO.oriName} : '상품이미지' + ${status.index+1}"></label>
          </div>
        </div>
      </div>
      <div class="item-upload-button-wrapper">
        <input type="submit" value="등록하기" class="item-upload-button">
      </div>
    </form>
  </section>

</body>

</html>