<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/font.js" defer></script>
  <link rel="icon" href="/images/logo.png">
  <link rel="stylesheet" href="../../static/css/admin/adminindex.css">
  <link rel="stylesheet" href="/css/admin/adminindex.css">
  <link rel="stylesheet" href="../../static/css/admin/upload.css">
  <link rel="stylesheet" href="/css/admin/upload.css">
  <script src="../../static/js/admin/upload.js" defer></script>
  <script src="/js/admin/upload.js" defer></script>
  <script src="/js/admin/itemupload.js" defer></script>
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <title>상품 등록</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {
        var errorMessage = [[${ errorMessage }]];
        var errorType = [[${ errorType }]];
        if (errorMessage != null) {
          alert(errorMessage);
          alert(errorType)
        }

        bindDomEvent();

      });

      function bindDomEvent() {
        $(".custom-file-input").on("change", function () {
          var fileName = $(this).val().split("\\").pop();  //이미지 파일명
          var fileExt = fileName.substring(fileName.lastIndexOf(".") + 1); // 확장자 추출
          fileExt = fileExt.toLowerCase(); //소문자 변환

          if (fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp") {
            alert("이미지 파일만 등록이 가능합니다.");
            return;
          }

          $(this).siblings(".custom-file-label").html(fileName);
        });
      }

    </script>

  </th:block>
</head>

<body>
  <div th:replace="~{/fragments/adminheader}"></div>
  <main class="admin-main">
    <form action="/admin/item/new" method="post" enctype="multipart/form-data" th:object="${itemFormDTO}"
      class="upload-form item-upload-form">
      <input type="hidden" class="id-input brand-id-input" name="brand">
      <input type="hidden" class="id-input category-id-input" name="category">
      <input type="hidden" class="id-input color-id-input" name="color">
      <input type="hidden" class="id-input size-id-input" name="size">
      <div class="option-select-box-wrapper">
        <div class="option-select-box-row">
          <div class="custom-select">
            <select id="my-select" class="brand-select">
              <option value="">브랜드</option>
              <option th:each="brandDto : ${brandList}" th:value="${brandDto.brandId}" th:text="${brandDto.brandName}">
              </option>
            </select>
            <i class="fa-solid fa-arrow-down"></i>
          </div>
          <div class="custom-select">
            <select id="my-select" class="category-select">
              <option value="">카테고리</option>
              <option th:each="categoryDto : ${categoryList}" th:value="${categoryDto.categoryId}"
                th:text="${categoryDto.categoryName}"></option>
            </select>
            <i class="fa-solid fa-arrow-down"></i>
          </div>
        </div>
        <div class="option-select-box-row">
          <div class="custom-select">
            <select id="my-select" class="size-select">
              <option value="">사이즈</option>
              <option th:each="sizeDto : ${sizeList}" th:value="${sizeDto.sizeId}" th:text="${sizeDto.sizeName}">
              </option>
            </select>
            <i class="fa-solid fa-arrow-down"></i>
          </div>
          <div class="custom-select">
            <select id="my-select" class="color-select">
              <option value="">색상</option>
              <option th:each="colorDto : ${colorList}" th:value="${colorDto.colorId}" th:text="${colorDto.colorName}">
              </option>
            </select>
            <i class="fa-solid fa-arrow-down"></i>
          </div>
        </div>
      </div>
      <label for="item-name">상품이름</label>
      <div class="upload-input-button-wrapper item-upload-input-button-wrapper">
        <input type="text" name="itemName" id="item-name" class="upload-input">
      </div>
      <label for="item-price">상품가격</label>
      <div class="upload-input-button-wrapper item-upload-input-button-wrapper">
        <input type="text" name="itemPrice" id="item-price" class="upload-input">
        <span class="upload-input-right-text">원</span>
      </div>
      <label for="item-stock">상품재고</label>
      <div class="upload-input-button-wrapper item-upload-input-button-wrapper">
        <input type="text" name="itemStock" id="item-stock" class="upload-input">
        <span class="upload-input-right-text">개</span>
      </div>
      <label for="item-detail">상품설명</label>
      <div class="upload-input-button-wrapper item-upload-input-button-wrapper">
        <input type="text" name="itemDetail" id="item-detail" class="upload-input">
      </div>

      <p>상품상태</p>
      <div class="status-form-group">
        <select th:field="*{itemSellStatus}" class="custom-select">
          <option value="SELL">판매중</option>
          <option value="SOLD_OUT">품절</option>
        </select>
      </div>

      <p>상품이미지</p>
      <div th:if="${#lists.isEmpty(itemFormDTO.itemImgDTOList)}">
        <div th:each="num: ${#numbers.sequence(1,5)}" class="img-form-group">
          <div class="custom-file img-div">
            <input type="file" class="custom-file-input" name="itemImgFile">
            <label class="custom-file-label" th:text="상품이미지 + ${num}"></label>
          </div>
        </div>
      </div>

      <div th:if="${not #lists.isEmpty(itemFormDTO.itemImgDTOList)}">
        <div th:each="itemImgDTO, status: ${itemFormDTO.itemImgDTOList}" class="img-form-group">
          <div>
            <input type="file" class="custom-file-input" name="itemImgFile">
            <input type="hidden" name="itemImgId" th:value="${itemImgDTO.itemImgId}">
            <label
              th:text="${not #strings.isEmpty(itemImgDTO.oriName)} ? ${itemImgDTO.oriName} : '상품이미지' + ${status.index+1}"></label>
          </div>
        </div>
      </div>
      <div class="item-upload-button-wrapper">
        <input type="submit" value="등록하기" class="upload-button item-upload-button">
      </div>
    </form>
  </main>
  </section>
</body>

</html>