<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:input="http://www.w3.org/1999/html" layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/font.js" defer></script>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/admin/adminindex.css">
    <link rel="stylesheet" href="../../static/css/admin/adminindex.css">
    <link rel="stylesheet" href="../../static/css/admin/itemview.css">
    <link rel="stylesheet" href="/css/admin/itemview.css">
    <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
    <title>상품 수정</title>
</head>

<body>

    <div th:replace="~{/fragments/adminheader}"></div>
    <main class="admin-main">
        <!--        <div th:each="ItemFormDTO : ${itemFormDTO}">-->
        <div>
            <form id="itemForm" th:action="@{'/admin/item/' + ${itemFormDTO.id}}" method="POST"
                enctype="multipart/form-data">
                <!-- <form id="itemForm"> -->
                <input type="hidden" th:value="${itemFormDTO.brand.brandId}" name="brand"></p>
                <input type="hidden" th:value="${itemFormDTO.category.categoryId}" name="category"></p>
                <input type="hidden" th:value="${itemFormDTO.color.colorId}" name="color"></p>
                <input type="hidden" th:value="${itemFormDTO.size.sizeId}" name="size">
                <input type="hidden" name="id" th:value="${itemFormDTO?.id}" id="id" />
                <h3 th:text="${itemFormDTO.itemName}+' 상품 상세조회'" class="itemview-title"></h3>
                <div class="item-form-row">
                    <label for="itemName" class="item-form-label">상품명</label>
                    <input type="text" th:value="${itemFormDTO.itemName}" id="itemName" class="item-form-value"
                        name="itemName" />
                </div>
                <div class="item-form-row">
                    <label for="itemPrice" class="item-form-label">상품가격</label>
                    <input type="text" th:value="${itemFormDTO.itemPrice}" id="itemPrice" class="item-form-value"
                        name="itemPrice" />
                </div>
                <div class="item-form-row">
                    <label for="itemStock" class="item-form-label">상품재고</label>
                    <input type="text" th:value="${itemFormDTO.itemStock}" id="itemStock" class="item-form-value"
                        name="itemStock" />
                </div>
                <div class="item-form-row">
                    <label for="itemDetail" class="item-form-label">상품설명</label>
                    <input type="text" th:value="${itemFormDTO.itemDetail}" id="itemDetail" class="item-form-value"
                        name="itemDetail" />
                </div>

                <p class="item-update-title">상품상태</p>
                <div class="status-form-group item-status-update">
                    <select th:field="*{itemFormDTO.itemSellStatus}" class="custom-select">
                        <option value="SELL">판매중</option>
                        <option value="SOLD_OUT">품절</option>
                    </select>
                </div>

                <p class="item-update-title">상품이미지</p>
                <!--                 <div th:if="${#lists.isEmpty(itemFormDTO.itemImgDTOList)}">-->
                <div th:if = "${not #lists.isEmpty(itemFormDTO.itemImgDTOList)}">
                    <div class="form-group" th:each="itemImgDTO, status: ${itemFormDTO.itemImgDTOList}">
                        <div class="custom-file img-div">
                            <input type="file" class="custom-file-input" name="itemImgFile">
                            <input type="hidden" name="itemImgIds" th:value="${itemImgDTO.itemImgId}">
                            <label class="custom-file-label" th:text="${itemImgDTO.oriName}"></label>
                        </div>
                    </div>
                </div>

                <div class="itemview-update-button-wrapper">
                    <button type="submit" id="update-btn">상품 수정</button>
                    <button type="button" id="delete-btn">상품 삭제</button>
                </div>
            </form>
        </div>

    </main>
    </section>

    <script>
        const id = parseInt(document.querySelector("#id").value);
        const deleteBtn = document.querySelector("#delete-btn");

        //상품 삭제 버튼 클릭 시 삭제되는 로직, 외래키 제약 조건에 의거하여 삭제하려는 상품이 장바구니에도 없어야하고, 주문내역에도 없어야만 동작
        deleteBtn.addEventListener("click", function (event) {
            event.preventDefault();
            fetch(`/admin/item/${id}/delete`, {
                method: "DELETE"
            })
                .then(response => {
                    console.log(response)
                    window.location.href = "/admin/item"; //DELETE MAPPING이라서 return으로 페이지 이동이 불가능해서, 클라이언트 측에서 페이지 이동하도록 구현
                })
                .catch(error => {
                    // 오류 발생 시 원하는 동작 수행
                    console.error("Error:", error);
                });
        });
    </script>

</body>

</html>