<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/font.js" defer></script>
  <link rel="stylesheet" href="../../static/css/admin/adminindex.css">
  <link rel="stylesheet" href="/css/admin/adminindex.css">
  <link rel="stylesheet" href="../../static/css/admin/upload.css">
  <link rel="stylesheet" href="/css/admin/upload.css">
  <link rel="icon" href="/images/logo.png">
  <script src="/js/admin/upload.js" defer></script>
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <title>사이즈 등록</title>
</head>

<body>
  <div th:replace="~{/fragments/adminheader}"></div>
    <main class="admin-main">
      <form action="/admin/size/new" method="post" class="upload-form">
        <label for="size" class="upload-size">사이즈 등록</label>
        <div class="upload-input-button-wrapper">
          <input type="text" name="sizeName" id="size" class="upload-input">
          <i class="fa-solid fa-plus upload-button"></i>
        </div>
      </form>
      <ul class="ul-wrapper">
        <li th:each="sizeDto : ${sizeList}" class="database-list">
            <span th:text="${sizeDto.sizeId}" class="id size-id"></span>
            <span th:text="${sizeDto.sizeName}" class="name size-name"></span>
            <a th:href="@{'/admin/size/delete/'+${sizeDto.sizeId}}"><i class="fa-solid fa-trash delete-button"></i></a>
        </li>
    </ul>
  
    </main>
</body>

</html>