img {
  width: 50px;
  height: 50px;
}

.cart-main {
  margin: 1%;
}

.cart-title {
  font-size: 27px;
  font-weight: 600;
  padding-bottom: 1%;
  margin:10px 0;
  padding-left:10px;
}

.no-cart {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4)
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 17px;
  border-top: 1px solid black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0 30px;
  box-sizing: border-box;
}

.cart-content {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 30px;
  box-sizing: border-box;
}

.cart-header-check,
.cart-content-check {
  width: 1%;
  margin: 0;
  padding: 0;
}

.cart-header-image,
.cart-content-image {
  width: 25%;
  height: 100%;
}

.cart-header-product-option,
.cart-content-product-option {
  width: 35%;
}

.cart-content-product,
.cart-content-size {
  width: 100%;
  margin: 5px;
}

.cart-content-product {
  font-size: 18px;
}

.cart-content-size {
  color: rgba(0, 0, 0, 0.3)
}

.cart-header-count,
.cart-content-count {
  width: 9%;
}

.cart-content-count {
  height: 30px;
  display: flex;
  align-items: center;
}

.count-icon {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);
  padding: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.cart-content-counting {
  /*padding: 0 10px;*/
  height: 100%;
  display: flex;
  font-size:22px;
  align-items: center;
}


.cart-header-price,
.cart-content-price {
  width: 15%;
}

.cart-content-price-won,
.cart-content-total-price-won {
  font-size: 22px;
  font-weight: 600;
}

.cart-header-total-price,
.cart-content-total-price {
  width: 15%;
}

.before-page-button {
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 30px;
  padding: 3px 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-price-content {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  border-radius: 50px;
}

.price-count,
.product-price,
.delivery-price,
.total-price {
  font-size: 22px;
  font-weight: 600;
}

.price-content-section {
  margin-right: 10px;
}

.last-price-content-section {
  padding-right: 30px;
}

.total-price-content-icon {
  padding: 4px;
  border-radius: 50px;
  color: white;
}

.plus-icon {
  background-color: rgba(0, 0, 0, 0.1);
}

.equal-icon {
  background-color: black;
}

.cart-bottom-button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.select-price-delete-button {
  all: unset;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 50px;
}

.order-button {
  all: unset;
  color: white;
  background-color: cornflowerblue;
  padding: 12px;
  width: 80px;
  height: 30px;
  text-align: center;
  border-radius: 50px;
}

.hidden {
  display:none;
}

.cart-item-delete {
  all:unset;
  padding:8px 12px;
  background: black;
  color:white;
}