.hidden {
  display:none;
}

body {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 550px;
  height: 100vh;
  padding-top: 100px;
}

.page-button-wrapper {
  display: flex;
}

.page-button {
  width: 170px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.now-page {
  color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.other-page {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.05);
}

.input-box-wrapper {
  display: flex;
  flex-direction: column;
  width: 340px;
  gap: 7px;
  margin-top: 10px;
}

.input-box {
  all: unset;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px 5px;
}

.find-button {
  all: unset;
  margin-top: 20px;
  width: 340px;
  height: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  border-radius: 3px;
}

.phone-number-certification-error-message {
  margin: 3px;
  color:red;
  display:none;
}