@font-face {
    font-family: 'NanumSquareNeo-Variable';
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.find-id {
    height: 100%;
    width: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #FFFFFF;

}
body {
    height: 1024px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #D9D9D9;
}

h1{
        font-family: 'Song Myung', serif;
        font-size: 50px;
        color: black; 
}
a {
    padding: 0 5px 0;
    text-decoration: none;
    color: #111;
}
h2 {
    font-size: 25px;
    color: black;
    font-family: 'NanumSquareNeo-Variable';
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 450px;
    
}
p{
    font-size: 20px;
    color: black;
    font-family: 'NanumSquareNeo-Variable';
    margin-left: 60px;
    margin-right: 60px;
   
}
.email-input {
    width: 400px;
    margin-top: 120px;
   
}
.email-input input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #D9D9D9;
    outline: none;
    font-size: 20px;
}
.email-input label {
    position: absolute;
    top: 13.4cm;
    font-size: 22px; color: #111;
    transition: all .5s ease;
}
.email-input label.warning{
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}
.email-input input:focus + label,
.email-input input:valid + label{
    top: 480px;
    font-size: 15px; color: #111;
}
.email-botton{
    width: 307px;
    height: 40px;
    cursor: pointer;
    background: #31363d;
    color: white;
    margin: 15px;
    font-size: 20px;
    border: none;
    margin-top: 50px;
}
.login-form{
    margin-top: 20px;
}
