form {
  margin-left: 2%;
  width: 500px;
}

.update-title {
  font-size: 25px;
  font-weight: 600;
}

.update-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}

.update-content {
  width: 100px;
  font-size: 18px;
}

.update-input {
  all: unset;
}

.update-button {
  all: unset;
  position: absolute;
  right: 0;
  color: rgba(0, 0, 0, 0.2);
  padding: 1% 3%;
}

.update-button:hover{
  color:#f33333;
}

.address-update-input {
  width: 430px;
}

.update-bottom-button {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.password-update-button {
  /* all: unset;
  cursor: pointer; */
  /* color: rgba(0, 0, 0, 0.4); */
}

.update-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.left-update-button {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.passwordupdate-button:hover,
.withdrawal-button:hover,
.update-submit-button:hover {
  color: #f33333;
}

.update-submit-button {
  all: unset;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.password-update-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.change-password {
  font-family: 'GangwonEdu_OTFBoldA';
  background-color: white;
  padding: 50px 100px;
  text-align: center;
  position: relative;
  width: 10%;
  height: 30%;
  top: 0px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.current-password,
.new-password,
.renew-password {
  font-family: 'GangwonEdu_OTFBoldA';
  /* border: 0 solid black; */
  width: 150px;
  height: 30px;
  align-items: center;
  margin: 5px;
  /* margin-right: 20px; */
  /* margin-left: -20px; */
}

.change-password>input:focus {
  outline: 0 solid black;
}

.save-password {
  font-family: 'GangwonEdu_OTFBoldA';
  width: 50px;
  height: 25px;
  text-align: center;
  background-color: none;
  border-radius: none;
}

.hidden {
  display: none;
}

#check {
  float: right;
  margin-right: -35px;
  margin-top: -45px;
}