.delivery-information {
    display: flex;
    flex-direction: column;
}

.user-info {
    margin-top: 30px;
}

.user-info, .info-box {
    margin-left: 10%;
}

.info-box {
    width: 80%;
    height: 40%;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 3px;
    padding-bottom: 10px;
}

.address, .name-number{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(190, 188, 188);
}

.requested {
    padding-top: 10px;
    padding-left: 10px;
}

.new-address {
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.items-info {
    padding-top: 10px;
    padding-left: 10%;
}

.items-img {
    margin-top: 5px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.info-box2 {
    display: flex;
    width: 80%;
    height: 20%;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 3px;
    padding-bottom: 5px;
    margin-left: 10%;
}

.items-container {
    display: table;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    margin-left: 70px;
    margin-top: 5px;
}

.info-row  {
    display: table-row;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.items-option {
    display: table-cell;
    border: 1px solid #e5e5e5;
    text-align: center;
    vertical-align: middle;
}

.go-payment {
    border-color: #e0dede;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    cursor: pointer;
}

.address > input {
    margin-left: 75px;
}

.name-number > span:not(:last-child) {
    margin-left: 35px;
}

.juso {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(190, 188, 188);
}

#postcode {
    border-radius: 4px;
    width: 55px;
    height: 25px;
    margin-left: 80px;
    padding-top: -10px;
}

.requested > select {
    width: 250px;
    height: 30px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    margin-left: 20px;
}

.go-delivery {
    margin-left: 37px;
    margin-top: -23px;
}

.payment-info {
    padding-top: 10px;
    padding-left: 10%;
}

.payment-method {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50%;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 3px;
    padding-bottom: 20px;
    margin-left: 10%;
    position: relative;
}

.payment-button {
    border-color: #e0dede;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.payment-button:last-child {
    margin-right: 50px;
}

.card-check {
    margin-top: 20px;
    margin-left: 180px;
}

.card-check > select {
    flex: 1;
    margin-top: -15px;
    margin-left: 30px;
    width: 150px;
    height: 30px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
}

#paymentMessage1, #paymentMessage2 {
    display: none;
    margin-left: 180px;
}

.user-agree {
    padding-top: 10px;
    margin-left: 10%;
}

.order-agree {
    margin-left: 10%;
    margin-top: 10px;
    width: 80%;
    height: 30%;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 3px;
}

.order-agree-title {
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: bold;
}

.order-agree-option {
    margin-bottom: 7px;
}


@media screen and (max-width: 768px) {
    .info-box,
    .info-box2,
    .payment-method {
        width: 90%;
        margin-left: 5%;
    }

    .go-payment {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .payment-button {
        margin-left: 5%;
        width: 90%;
        display: block;
    }

    .info-box2,
    .payment-method {
        font-size: 14px;
    }

    .card-check,
    #paymentMessage1,
    #paymentMessage2,
    .user-agree {
        margin-left: 5%;
    }

    .order-agree {
        margin-left: 5%;
        width: 90%;
    }
}