.order-detail {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-info, .calendar, order-detail-form {
    justify-content: center;
    align-items: center;
}

.calendar {
    margin-top: 10px;
}

#startDate, #endDate {
    width: 100px;
    height: 20px;
}

#searchQuery {
    width: 200px;
    height: 20px;
    margin-left: 5px;
}

.search-btn {
    width: 45px;
    height: 25px;
    margin-left: 5px;
    background-color: #FFFFFF;
    border-color: #d2d1d1;
}

.order-detail-form {
    display: flex;
    flex-direction: column;
    width: 700px;
    max-width: 700px;
    margin: 0 auto;
}

.order-date {
    margin-left: 5px;
    width: 100%;
}

.order-card {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #ccc;
}

.repImgDiv, .item-Img {
    width: 90px;
    height: 90px;
}

.item-name, .price-count {
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    margin-top: -90px;
}

.order-item {
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.price-count {
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-price, .order-count {
    margin-right: 15px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
}

.disabled .page-link {
    pointer-events: none;
    color: gray;
}

.active .page-link {
    font-weight: bold;
    color: red;
}

@media screen and (max-width: 768px) {
    .order-info, .calendar, .order-detail-form {
        margin-left: 30px;
    }

    #startDate, #endDate, #searchQuery, .search-btn {
        width: auto;
        height: auto;
        margin-left: 0;
    }

    .item-name, .price-count {
        margin-left: 0;
        margin-top: 5px;
    }

    .item-Img {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .order-info, .calendar, .order-detail-form {
        margin-left: 30px;
    }

    #startDate, #endDate, #searchQuery, .search-btn {
        width: auto;
        height: auto;
        margin-left: 0;
    }

    .item-name, .price-count {
        margin-left: 0;
        margin-top: 5px;
    }

    .item-Img {
        margin-left: 0;
        margin-bottom: 10px;
    }
}