@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'S-CoreDream-3Light';
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

.order-detail-form {
    height: 440px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    margin-top: 250px;
    margin-left: 350px;
    box-shadow: 0 0 2px;
}

.gumun {
    font-size: 30px;
    height: 39px;
    width: 150px;
    text-align: center;
    /* background-color: rgb(218, 172, 172); */
    margin-left: -460px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: rgb(65, 62, 62);
}

.search-list {
    width: 550px;
    height: 35px;
    font-size: 12px;
    margin-left: -340px;
    border-radius: 10px;
    border: none;
}

.select-date {
    margin-top: 10px;
    background-color: bisque;
}

.recent {
    cursor: pointer;
    margin-left: -440px;
}

.period {
    margin-left: -350px;
    margin-top: -22.1px;
}

.period-select {
    margin-right: 5px;
}

.order-item {
    width: 750px;
    height: 230px;
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    border-radius: 10px;
}

.order-date {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 22px;
}

.line {
    border: solid 1px rgb(219, 218, 218);
    
}

.item-img {
    width: 150px;
    height: 150px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: rgb(197, 196, 196);
}

.item-information {
    /* width: 150px; */
    height: 150px;
    margin-left: 175px;
    margin-top: -150px;
    margin-right: 15px;
    margin-bottom: 15px;
    /* background-color: blue; */
}

.item-name {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.item-price {
    font-size: 13px;
    margin-left: 20px;
    margin-top: 15px;
}

.item-number {
    font-size: 13px;
    margin-left: 20px;
    margin-top: 15px;
}

.delivery-state {
    font-size: 18px;
    text-align: right;
    margin-right: 10px;
}

.delivery-check {
    margin-right: 10px;
}

.cancel {
    margin-right: 10px;
}

.exchange {
    margin-right: 10px;
}