body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

.upload-form {
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  position: relative;
}

.title {
  font-size: 35px;
  font-weight: 600;
}

.product-category-wrapper,
.product-name-wrapper,
.product-price-wrapper,
.product-stock-wrapper,
.product-status-wrapper,
.product-detail-wrapper {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #d9d9d9;
}

#product-category {
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.plus-button {
  border-bottom: 1px solid #d9d9d9;
  padding: 12px;
}

.label-box {
  width: 30%;
  height: 100%;
  background-color: rgba(233, 160, 171, 0.705);
  margin-right: 15px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  all: unset;
  width: 60%;
  height: 100%;
  border: 1px solid #d9d9d9;
  padding-left: 10px;
}

.small-input-box {
  width: 20%;
}

.length-limit,
.won,
.count {
  margin-left: 10px;
}

.detail-button {
  width: 10%;
  border: none;
  background-color: white;
  color: black;
}


.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-content {
  display: flex;
  position: relative;
}


.modal-input {
  width: 700px;
  height: 400px;
}

.detail-limit {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.modal-button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-top: 10px;
}

.modal-reset-button,
.modal-save-button {
  all: unset;
  background-color: black;
  color: white;
  padding: 3px;
  text-align: center;
  width: 50px;
  height: 25px;
}

.hidden {
  display: none;
}

.submit-button {
  all: unset;
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 5px 8px;
  margin-top: 10px;
}