body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

.upload-form {
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.product-category-wrapper,
.product-name-wrapper,
.product-price-wrapper,
.product-stock-wrapper,
.product-status-wrapper,
.product-detail-wrapper {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #d9d9d9;

}

.label-box {
  width: 30%;
  height: 100%;
  background-color: #d9d9d9;
  margin-right: 15px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  all: unset;
  width: 60%;
  height: 100%;
  border: 1px solid #d9d9d9;
  padding-left: 10px;
}

.small-input-box {
  width: 20%;
}

.length-limit,
.won,
.count {
  margin-left: 10px;
}

.detail-button {
  width: 10%;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.submit-button {
  all: unset;
  margin-top: 3%;
  background-color: black;
  color: white;
  padding: 2% 2.5%;
  font-weight: 600;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-content {
  width: 55%;
  height: 55%;
  background-color: white;
  z-index: 5;
  padding: 2% 4%;
  position: relative;
}

.detail-limit {
  position: absolute;
  top:15%;
  right:7%;
}
.modal-title {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.modal-input {
  all: unset;
  width:49rem;
  height:18rem;
  padding:3px 5px;
  border: 1px solid black;
}

.modal-button-wrapper {
  margin-top: 3%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-button {
  all: unset;
  background-color: black;
  color: white;
  padding: 1% 1.5%;
  font-size: 18px;
}

