.new-register-button {
    position: absolute;
    margin-top: -40px;
    right: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 30px;

}

.address-list {
    display: flex;
    width: 100%;
    height: 30%;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 3px;
    margin-top: 10px;
}

.name-address {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 15px;
    margin-top: 10px;
}

.name-address-list {
    align-self: center;
}

.name-list {
    font-size: 15px;
    font-weight: bold;
}

.basic-delivery {
    margin-left: 5px;
    font-weight: bold;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
}

.disabled .page-link {
    pointer-events: none;
    color: gray;
}

.active .page-link {
    font-weight: bold;
    color: red;
}

.name-address-list form {
    display: inline-block;
}

.btn-change {
    margin-left: 420px;
    margin-top: -130px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 25px;
}

.btn-delete {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 25px;
}