@font-face {
  font-family: 'Humanbumsuk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 1% 30px;
  box-sizing: border-box;
  border-radius: 5px;
  border-bottom: 1px solid #111111;
}

.index-link {
  color: #111111;
  font-family: Humanbumsuk;
  letter-spacing:4px;
  font-size:28px;
  display: flex;
  align-items: center;
  text-align: center;
}

.header-link-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.header-link-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  gap: 20px;
  height: 30px;
}

.header-link-bottom {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  width: 400px;
  height: 70px;
  gap: 20px;
}

.header-link {
  display: flex;
  gap:2px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.update-link {
  padding: 5px;
  border-radius: 50%;
  background-color: black;
  color: white;
}