<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/up-form.css">
    <title>주문내역</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="/js/font.js" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript" src="/js/up-form.js" defer></script>
</head>


<body>
<div class="location-info">
    <h3 class="user-info">배송 정보</h3>
    <div class="info-box">
        <div class="address">
            <span>배송지</span>
            <input type="radio" class="current-address">기존 배송지
            <button type="button" class="new-address" onclick="DaumPostcode()">배송지 변경</button>
        </div>
        <div class="name-number">
            <span>이름/연락처</span>
            <span th:text="${memberDto.memberName}" class="name-number-first"></span>/
            <span th:text="${memberDto.memberPhone}"></span>
        </div>
        <div class="new-add-address">
            <form th:action="@{'/address/up-form/' + ${addressDto.addressId}}" th:object="${addressDto}"
                  th:method="put">
                <div class="go-delivery">
                    <div class="my-juso">
                        <span>주소</span>
                        <input type="text" id="combined-address" th:field="*{address}">
                    </div>
                    <div class="n-check-block">
                        <input type="checkbox" class="n-check" id="delivery_defaultCheck"
                               onchange="checkDefaultAddress(this);"
                               th:checked="${addressDto.address == memberDto.memberAddress}">
                        <label for="delivery_defaultCheck" class="setting-basic">기본 배송지 설정</label>
                    </div>
                </div>
                <div class="change-address">
                    <button type="submit" class="btn btn-primary" onclick="submitForm();">수정</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>