<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/orderpaymentpopup.css">
    <script src="/js/orderpaymentpopup.js" defer></script>
    <title>배송지 입력</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
    <h2 class="popup-title">배송지 변경</h3>
    <button type="button "class="new-address-search" onclick="DaumPostcode()">새 배송지 등록</button><p></p>
    <section class="current-my-address">
        <span class="my-name">내이름</span>
        <span class="address-name">(집)</span>
        <span class="my-phone">010-1111-1111</span>
        <span class="my-address">내 주소</span>
    </section>
    
        <h4 class="new-add-address">주소 추가</h4>
        <section class="new-search-address">
        <div class="go-delivery">주소<br>
            <input type="text" id="postcode" placeholder="우편번호">
            <input type="text" id="road-address" placeholder="도로명주소">
            <input type="text" id="jibun-address" placeholder="지번주소">
            <input type="text" id="detail-address" placeholder="상세주소">
            <input type="text" id="extra-address" placeholder="참고항목">
        </div>
    </section>
    <br><button class="save-btn" onclick="sendData()">저장</button>
    <button class="exit" onclick="win_close()">닫기</button>
</body>
</html>