<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/orderpayment.css">
    <title>주문내역</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="/js/orderpayment.js" defer></script>
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<script th:inline="javascript">
    $(document).ready(function () {

        calculateToalPrice();

        $("#count").change(function () {
            calculateToalPrice();
        });
    });

    function calculateToalPrice() {
        var count = $("#count").val();
        var price = $("#price").val();
        var totalPrice = price * count;
        $("#totalPrice").html(totalPrice + '원');
    }

    function pay_order() {
        var url = "/orders/pay";
        var paramData = {
            itemId: [[${orderDto.itemId}]],
            count: $("#count").val()
        };

        var param = JSON.stringify(paramData);
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(paramData),
            success: function (response, status) {
                var orderId = response;     //response에는 서버 응답의 데이터가 들어있다.
                alert("주문이 완료 되었습니다.");
                location.href = '/orders/completion/'+orderId;
            },
            error: function (jqXHR, status, error) {

                if (jqXHR.status == '401') {
                    alert('로그인 후 이용해주세요');
                    location.href = '/members/login';
                } else{
                    alert(jqXHR.responseText);      //재고가 부족할 경우 여기에 걸리게됨.
                }
            }
        });
    }
</script>
<body>
<section class="delivery-information">

    <div class="location-info">
        <h3 class="user-info">배송 정보</h3>
        <div class="info-box">
            <div class="address">
                <span>배송지</span>
                <input type="radio" class="current-address">기존 배송지
                <button type="button" class="new-address" onclick="address_popup()">배송지 변경</button>
            </div>

            <div class="name-number">이름/연락처
                <span>[[${memberDto.memberName}]]</span>/
                <span>[[${memberDto.memberPhone}]]</span>
            </div>

            <div class="juso">주소
                <div class="go-delivery">
                    <input type="text" id="postcode" placeholder="우편번호">
                    <span th:text="${memberDto.memberAddress}" id="address"></span>
                    <input type="text" id="detail-address" placeholder="상세주소">
                </div>
            </div>


            <div class="requested">배송 요청사항
                <select class="requested-selected">
                    <option value="" selected="selected">배송 시 요청사항 선택해주세요</option>
                    <option value="경비실에 맡겨주세요">경비실에 맡겨주세요</option>
                    <option value="집 앞에 놔주세요">집 앞에 놔주세요</option>
                    <option value="배송 전 연락 바랍니다">배송 전 연락 바랍니다</option>
                    <option value="안전하게 배송 부탁드립니다">안전하게 배송 부탁드립니다</option>
                </select>
            </div>

        </div>
    </div>

    <div class="items-info-box">
        <h3 class="items-info">상품 정보</h3>
        <div class="info-box2">
            <img th:src="${itemDto.itemImgDTOList[0].imgUrl}" class="items-img"> <!--상품이미지-->
            <div class="items-option-info">
                <span class="items-name">이름: </span>
                <span th:text="${itemDto.itemName}"></span>
                <input type="hidden" th:value="${itemDto.itemPrice}" id="price" name="price">
                <span class="items-one-price">가격: </span>
                <span th:text="${itemDto.itemPrice}"></span>
                <span class="won">원</span>
                <span class="items-option">옵션: </span>
                <span class="items-option1">white</span>
                <input type="hidden" th:value="${orderDto.count}" id="count" name="count">
                <span class="items-option-num">수량:</span>
                <span th:text="${orderDto.count}"></span>
                <span class="won">개</span>
                <span class="delivery-price">배송비:</span>
                <span class="free">무료</span>
            </div>
            <div class="total-price">총 주문금액:
                <span class="total-order-price">40000</span>
                <span class="won">원</span>

            </div>
        </div>
    </div>

    <div class="payment-info-box">
        <h3 class="payment-info">결제 정보</h3>
        <div class="payment-method">
            <button class="payment-button">카드</button>
            <button class="payment-button">휴대폰결제</button>
            <button class="payment-button">가상계좌</button>
            <button class="payment-button">계좌이체</button>
            <button class="payment-button">카카오페이</button>
            <button class="payment-button">네이버페이</button>
            <button class="payment-button">삼성페이</button>
            <button class="payment-button">다른 방식</button>
        </div>
    </div>
    </div>

    <input type="submit" class="go-payment" value="결제하기" onclick="pay_order()">


</section>
</body>
</html>