<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/orderpayment.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <title>주문내역</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="/js/orderpayment.js" defer></script>
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/header.js" defer></script>
    <script src="/js/font.js" defer></script>
</head>
<body>
<header class="header-wrapper">
    <p class="login-check" th:text="${session.loginEmail}"></p>
    <div class="header-left">
        <!-- <h3 class="header-title">OInJo</h3> -->
        <div class="search-wrapper">
            <input type="text" class="search-input">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
    </div>
    <ul class="header-right">
        <!-- 관리자, 로그아웃, 정보수정, 로그인, 장바구니, 최근본상품, 마이페이지 -->
        <li class="admin-link">
            <a href="#" class="tooltip-container">
                <i class="fa-solid fa-hammer tooltip-icon"></i>
                <span class="tooltip-text">관리자</span>
            </a>
        </li>

        <li class="update-link">
            <a href="/member/update" class="tooltip-container">
                <i class="fa-solid fa-user-pen tooltip-icon"></i>
                <span class="tooltip-text">정보수정</span>
            </a>
        </li>
        <li class="logout-link">
            <a href="/member/logout" class="tooltip-container">
                <i class="fa-solid fa-user-minus tooltip-icon"></i>
                <span class="tooltip-text">로그아웃</span>
            </a>
        </li>
        <li class="login-link">
            <a href="/member/login" class="tooltip-container">
                <i class="fa-solid fa-user-plus tooltip-icon"></i>
                <span class="tooltip-text">로그인</span>
            </a>
        </li>
        <li>
            <a href="#" class="tooltip-container">
                <i class="fa-solid fa-user tooltip-icon"></i>
                <span class="tooltip-text">마이페이지</span>
            </a>
        </li>
        <li>
            <a href="#" class="tooltip-container">
                <i class="fa-solid fa-cart-shopping tooltip-icon"></i>
                <span class="tooltip-text">장바구니</span>
            </a>
        </li>
        <li>
            <a href="#" class="tooltip-container">
                <i class="fa-solid fa-gift tooltip-icon"></i>
                <span class="tooltip-text">최근본상품</span>
            </a>
        </li>
    </ul>
</header>
<section class="delivery-information">

    <div class="location-info">
        <h3 class="user-info">배송 정보</h3>
        <div class="info-box">
            <div class="address">
                <span>배송지</span>
                <input type="radio" class="current-address">기존 배송지
                <button type="button" class="new-address" onclick="address_popup()">배송지 변경</button>
            </div>


            <div class="name-number">이름/연락처
                <span>[[${memberDto.memberName}]]</span>/
                <span>[[${memberDto.memberPhone}]]</span>
            </div>


            <div class="juso">주소
                <div class="go-delivery">
                    <span th:text="${memberDto.memberAddress}" id="postcode"></span>
                </div>
            </div>


            <div class="requested">배송 요청사항
                <select class="requested-selected">
                    <option value="" selected="selected">배송 시 요청사항 선택해주세요</option>
                    <option value="경비실에 맡겨주세요">경비실에 맡겨주세요</option>
                    <option value="집 앞에 놔주세요">집 앞에 놔주세요</option>
                    <option value="배송 전 연락 바랍니다">배송 전 연락 바랍니다</option>
                    <option value="안전하게 배송 부탁드립니다">안전하게 배송 부탁드립니다</option>
                </select>
            </div>

        </div>
    </div>

    <div class="items-info-box">
        <h3 class="items-info">상품 정보</h3>
        <div class="info-box2">
            <img th:src="${itemDto.itemImgDTOList[0].imgUrl}" class="items-img"> <!--상품이미지-->
            <div class="items-option-info">
                <span>이름: </span>
                <span class="items-name" th:text="${itemDto.itemName}"></span>
                <span class="items-one-price">가격: </span>
                <span th:text="${itemDto.itemPrice}"></span>
                <span class="won">원</span>
                <span class="items-option">색깔: </span>
                <span class="items-option1">white</span>
                <span class="items-option">사이즈: </span>
                <span class="items-option1">s</span>
                <span class="items-option-num">수량:</span>
                <span class="items-option2">2</span>
                <span class="won">개</span>
                <span class="delivery-price">배송비:</span>
                <span class="free">무료</span>
            </div>
            <div class="total-price">총 주문금액:
                <span class="total-order-price">40000</span>
                <span class="won">원</span>

            </div>
        </div>
    </div>

    <div class="payment-info-box">
        <h3 class="payment-info">결제 정보</h3>
        <div class="payment-method">
            <button class="payment-button">카드</button>
            <button class="payment-button">휴대폰결제</button>
            <button class="payment-button">가상계좌</button>
            <button class="payment-button">계좌이체</button>
            <button class="payment-button">카카오페이</button>
            <button class="payment-button">네이버페이</button>
            <button class="payment-button">삼성페이</button>
            <button class="payment-button">다른 방식</button>
        </div>
    </div>
    </div>

    <input type="submit" class="go-payment" onclick="order()" value="결제하기">


</section>
</body>
</html>