<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/order/paycompleted.css">
    <link rel="stylesheet" type="text/css" href="/css/fragments/header.css">
    <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/logo.png">
    <script src="/js/fragments/header.js" defer></script>
    <script src="/js/font.js" defer></script>
    <title>결제 완료</title>
</head>

<body>
<div th:replace="~{/fragments/header}"></div>

    <section class="order-complete-form">
        <h1>고객님 상품 주문이 완료되었습니다.</h1>
        <div class="order-information">
            <div class="user-name">고객이름 :
                <span th:text="${member.getMemberName()}"></span>
            </div>
            <div class="phone-number">전화번호 :
                <span th:text="${member.getMemberPhone()}"></span>
            </div>
            <div class="user-address">고객주소 :
                <span th:text="${member.getMemberAddress()}"></span>
            </div>
            <div class="order-day">주문날짜 :
                <span th:text="${order.getOrderDate()}"></span>
            </div>
            <div class="payment-price">결제금액 :
                <span th:text="${order.getTotalPrice()}"></span>
            </div>
            <div class="order-number">주문번호 :
                <span th:text="${order.getOrderId()}"></span>
            </div>
        </div>
        <div class="button-form">
            <a href="/orders/list"> <button class="order-check">주문내역 확인</button></a>
            <a href="/"><button class="main-page">메인으로</button></a>

        </div>
    </section>
</body>

</html>