<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:input="http://www.w3.org/1999/html" layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이템 리스트</title>
</head>
<body>
    <a th:each="ItemFormDTO : ${itemList.dtoList}" th:text="${ItemFormDTO.itemName}" th:href="'/admin/item/' + ${ItemFormDTO.brand}"></a>
    <div class="row">
        <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4" th:each="item : ${itemList.dtoList}">
                <a th:href="@{'/admin/item/' + ${item.id}}"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted"><span th:text="${item.itemName}" ></span></div>
                </div>
            </div>

        </div>
    </div>
    <!-- Pagination-->
    <nav aria-label="Pagination">
        <hr class="my-0" />
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                    <span th:text="${itemList.curPage}"></span> [[${itemList.perPage}]] of [[${itemList.totalRows}]] entries
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                    <ul class="pagination justify-content-center my-4">
                        <li th:if="${itemList.prev}" th:class="'paginate_button page-item previous ' + ${itemList.prev?'':'disabled'}" id="dataTable_previous">
                            <a href="#" th:href="@{/boards(page=${itemList.startNum - 1}, perPage=${itemList.perPage})}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                        <li th:class="'paginate_button page-item ' + ${itemList.curPage == page?'active':''}" th:each="page : ${itemList.pageList}">
                            <a href="#" th:href="@{/boards(page=${page}, perPage=${itemList.perPage})}" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">[[${page}]]</a></li>
                        <li th:if="${itemList.next}" th:class="'paginate_button page-item next ' + ${itemList.next?'':'disabled'} " id="dataTable_next">
                            <a href="#" th:href="@{/boards(page=${itemList.endNum + 1}, perPage=${itemList.perPage})}" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <form id="search-form" class="mb-4" th:action="@{'/admin/item'}" th:method="get">
            <div class="card-body">
                <div class="input-group">
                    <select class="form-control" name="type">
                        <option selected="selected">-------</option>
                        <option value="n">itemName</option>
                        <option value="b">brandName</option>
                        <option value="c">categoryName</option>
                    </select>
                    <input class="form-control" type="text" name="keyword" th:value="${param.keyword}" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search">
                    <button class="btn btn-primary" type="button" id="button-search" onclick="document.getElementById('search-form').submit();">Go!</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
