<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>memberlist.html</h2>
<form th:action="@{'/member'}" th:method="get">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="dataTables_length" id="dataTable_length">
        <label>Show
          <select name="type" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
            <option value="e">email</option>
            <option value="n">name</option>
          </select>
        </label>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div id="dataTable_filter" class="dataTables_filter">
        <label>검색어:
          <input type="text" name="keyword" class="form-control form-control-sm" placeholder="" aria-controls="dataTable">
        </label>
        <button type="submit" class="btn btn-default">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</form>
<table>
  <tr>
    <th>id</th>
    <th>memberEmail</th>
    <th>memberPassword</th>
    <th>memberName</th>
    <th>상세조회</th>
    <th>삭제</th>
  </tr>
  <tr th:each="member: ${result.dtoList}">
    <td th:text="${member}"></td>
    <td th:text="${member.memberEmail}"></td>
    <td th:text="${member.memberPassword}"></td>
    <td th:text="${member.memberName}"></td>
    <td>
      <!-- query string /member?id=1
          rest api /member/1 -->
      <a th:href="@{|/member/${member.id}|}">조회</a>
    </td>
    <td>[[${member.id}]]</td>
    <td>[[${member.memberEmail}]]</td>
    <td>[[${member.memberName}]]</td>
    <td>[[${member.memberPhone}]]</td>
    <td>
      <a th:href="@{|/member/delete/${member.id}|}">삭제</a>
    </td>
  </tr>
</table>
<div class="row">
  <div class="col-sm-12 col-md-5">
    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
      <span th:text="${result.curPage}"></span> [[${result.totalPage}]] of [[${result.totalRows}]] entries
    </div>
  </div>
  <div class="col-sm-12 col-md-7">
    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
      <ul class="pagination">
        <li th:if="${result.prev}" th:class="'paginate_button page-item previous ' + ${result.prev?'':'disabled'}" id="dataTable_previous">
          <a href="#" th:href="@{/member(page=${result.startNum - 1}, perPage=${result.perPage})}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
        <li th:class="'paginate_button page-item ' + ${result.curPage == page?'active':''}" th:each="page : ${result.pageList}">
          <a href="#" th:href="@{/member(page=${page}, perPage=${result.perPage})}" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">[[${page}]]</a></li>
        <li th:if="${result.next}" th:class="'paginate_button page-item next ' + ${result.next?'':'disabled'} " id="dataTable_next">
          <a href="#" th:href="@{/member(page=${result.endNum + 1}, perPage=${result.perPage})}" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>