<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }

            bindDomEvent();

        });

        function bindDomEvent(){
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();  //이미지 파일명
                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
                fileExt = fileExt.toLowerCase(); //소문자 변환

                if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }

                $(this).siblings(".custom-file-label").html(fileName);
            });
        }

    </script>

</th:block>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등록 테스트 페이지</title>
    <style>

        .id {
            display: none;
        }

        .ul-wrapper {
            display:flex;
            justify-content: space-between;
        }
    </style>
    <script src="/js/admin/productupload.js" defer></script>
</head>

<body>

    <form action="/admin/item/new" method="post" enctype="multipart/form-data" th:object="${itemFormDTO}">
        <h3>상품 등록 테스트</h3>
        <input type="text" class="id-input brand-id-input" name="brand" placeholder="브랜드으">
        <input type="text" class="id-input category-id-input" name="category" placeholder="카테고리이">
        <input type="text" class="id-input color-id-input" name="color" placeholder="컬러어">
        <input type="text" class="id-input size-id-input" name="size">
        <div class="ul-wrapper">
        <ul>
            <h4>브랜드</h4>
            <li th:each="brandDto : ${brandList}">
                <span th:text="${brandDto.brandId}" class="id brand-id"></span>
                <span th:text="${brandDto.brandName}" class="brand-name"></span>
            </li>
        </ul>

        <ul>
            <h4>카테고리</h4>
            <li th:each="categoryDto : ${categoryList}">
                <span th:text="${categoryDto.categoryId}" class="id category-id"></span>
                <span th:text="${categoryDto.categoryName}" class="category-name"></span>
            </li>
        </ul>

        <ul>
            <h4>컬러</h4>
            <li th:each="colorDto : ${colorList}">
                <span th:text="${colorDto.colorId}" class="id color-id"></span>
                <span th:text="${colorDto.colorName}" class="color-name"></span>
            </li>
        </ul>

        <ul>
            <h4>사이즈</h4>
            <li th:each="sizeDto : ${sizeList}">
                <span th:text="${sizeDto.sizeId}" class="id size-id"></span>
                <span th:text="${sizeDto.sizeName}" class="size-name"></span>
            </li>
        </ul>
    </div>

        <div>
            상품 이름<input type="text" name="itemName"></div>
        <div>
            상품 가격<input type="text" name="itemPrice"></div>
        <div>
            상품 재고<input type="text" name="itemStock"></div>
        <div>
            상품 설명<input type="text" name="itemDetail"></div>

        <div class="form-group">
            <select th:field="*{itemSellStatus}" class="custom-select">
                <option value="SELL">판매중</option>
                <option value="SOLD_OUT">품절</option>
            </select>
        </div>

        <div th:if="${#lists.isEmpty(itemFormDTO.itemImgDTOList)}">
            <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">
                <div class="custom-file img-div">
                    <input type="file" class="custom-file-input" name="itemImgFile">
                    <label class="custom-file-label" th:text="상품이미지 + ${num}"></label>
                </div>
            </div>
        </div>

        <div th:if = "${not #lists.isEmpty(itemFormDTO.itemImgDTOList)}">
            <div th:each="itemImgDTO, status: ${itemFormDTO.itemImgDTOList}">
                <div>
                    <input type="file" class="custom-file-input" name="itemImgFile">
                    <input type="hidden" name="itemImgId" th:value="${itemImgDTO.itemImgId}">
                    <label th:text="${not #strings.isEmpty(itemImgDTO.oriName)} ? ${itemImgDTO.oriName} : '상품이미지' + ${status.index+1}"></label>
                </div>
            </div>
        </div>

        <input type="submit" value="상품 등록하기">
    </form>
</body>

</html>