<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logo.png">
  <link rel="stylesheet" href="../../static/css/member/findpw.css">
  <link rel="stylesheet" href="/css/member/findpw.css">
  <link rel="stylesheet" href="/js/font.js" defer>
  <script src="../static/js/findpw.js" defer></script>
  <script src="/js/member/findpw.js" defer></script>
  <title>비밀번호 찾기</title>
</head>

<body>
<form action="/member/findpw" method="post">
<h3>비밀번호 찾기</h3>
    <div class="page-button-wrapper">
      <a href="/member/findid" class="page-button other-page">아이디 찾기</a>
      <a href="/member/findpw" class="page-button now-page">비밀번호 찾기</a>
    </div>
    <div class="email-input-box-wrapper">
      <input type="email" name="" id="" placeholder="이메일을 입력하세요" class="email-input input-box">
      <button type="button" class="input-submit-button certification-start-button">인증번호 전송</button>
    </div>
    <div class="certification-number-input-box-wrapper">
      <input type="text" name="" id="" placeholder="인증번호를 입력하세요" class="certification-number-input input-box">
      <button type="button" class="input-submit-button certification-button">확인</button>
    </div>
  <p class="result-message find-button hidden"><span th:text="${password}"></span></p>
  </form>
</body>

</html>