<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/findid.css">
  <script src="../../static/js/findid.js" defer></script>
  <title>아이디 찾기</title>
</head>

<body>
  <form action="/member/findid" method="post">
    <h3>아이디 찾기</h3>
    <div class="page-button-wrapper">
      <a href="#" class="page-button now-page">아이디 찾기</a>
      <a href="#" class="page-button other-page">비밀번호 찾기</a>
    </div>
    <div class="input-box-wrapper">
      <input type="text" name="name" placeholder="이름" class="input-box name-input">
      <input type="text" name="phone" id="" placeholder="전화번호(-없이)" class="input-box phone-number-input">
      <p class="phone-number-certification-error-message">전화번호 형식이 잘못되었습니다.</p>
    </div>
    <input type="submit" value="아이디 찾기" class="find-button">
  </form>
  <p class="result-message">찾은 아이디: <span th:text="${email}"></span></p>

</body>

</html>