<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <link rel="icon" href="images/logo.png">
  <link rel="stylesheet" href="/css/memberupdate.css">
  <link rel="stylesheet" href="/js/font.js" defer>
  <script src="/js/memberupdate.js" defer></script>
  <link rel="stylesheet" href="../../static/css/memberupdate.css">
  <link rel="stylesheet" href="../../static/css/header.css">
  <script src="../../static/js/header.js" defer></script>
  <link rel="stylesheet" href="/css/header.css">
  <script src="/js/header.js" defer></script>
  <title>정보수정</title>
</head>

<body>
  <header class="header-wrapper">
    <p class="login-check" th:text="${session.loginEmail}"></p>
    <div class="header-left">
      <!-- <h3 class="header-title">OInJo</h3> -->

      <form th:action="@{'/'}" th:method="get" class="search-wrapper">
        <select name="type" aria-controls="dataTable" class="search-select">
          <option value="n" class="select-option">상품이름</option>
          <option value="b" class="select-option">브랜드</option>
          <option value="c" class="select-option">카테고리</option>
        </select>
        <input type="text" name="keyword" aria-controls="dataTable" class="search-input">
        <button type="submit" class="search-button search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <!-- <div class="search-wrapper">
        <input type="text" class="search-input">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
      </div> -->

    </div>
    <ul class="header-right">
      <!-- 관리자, 로그아웃, 정보수정, 로그인, 장바구니, 최근본상품, 마이페이지 -->
      <li class="admin-link">
        <a href="/admin/item/new" class="tooltip-container">
          <i class="fa-solid fa-hammer tooltip-icon"></i>
          <span class="tooltip-text">관리자</span>
        </a>
      </li>

      <li class="update-link">
        <a href="/member/update" class="tooltip-container">
          <i class="fa-solid fa-user-pen tooltip-icon"></i>
          <span class="tooltip-text">정보수정</span>
        </a>
      </li>
      <li class="logout-link">
        <a href="/member/logout" class="tooltip-container">
          <i class="fa-solid fa-user-minus tooltip-icon"></i>
          <span class="tooltip-text">로그아웃</span>
        </a>
      </li>
      <li class="login-link">
        <a href="/member/login" class="tooltip-container">
          <i class="fa-solid fa-user-plus tooltip-icon"></i>
          <span class="tooltip-text">로그인</span>
        </a>
      </li>
      <li>
        <a href="#" class="tooltip-container">
          <i class="fa-solid fa-user tooltip-icon"></i>
          <span class="tooltip-text">마이페이지</span>
        </a>
      </li>
      <li>
        <a th:href="@{'/member/' + ${session.loginId} + '/cart'}" class="tooltip-container">
          <i class="fa-solid fa-cart-shopping tooltip-icon"></i>
          <span class="tooltip-text">장바구니</span>
        </a>
      </li>
      <li>
        <a href="#" class="tooltip-container">
          <i class="fa-solid fa-gift tooltip-icon"></i>
          <span class="tooltip-text">최근본상품</span>
        </a>
      </li>
    </ul>
  </header>
  <form action="/member/update" method="post">
    <h4 class="update-title">회원정보 수정</h4>
    <input type="hidden" th:value="${updateMember.id}" name="id">
    <div class="update-wrapper">
      <p class="update-content">이메일</p>
      <input type="text" th:value="${updateMember.memberEmail}" name="memberEmail"
        class="update-input email-update-input" readonly>
      <button type="button" class="update-button email-update-button">변경</button>
    </div>
    <div class="update-wrapper">
      <p class="update-content">비밀번호</p>
      <input type="password" th:value="${updateMember.memberPassword}" name="memberPassword"
        class="update-input password-update-input" readonly>
      <!-- <button type="button" class="update-button  password-update-button">변경</button> -->
    </div>
    <div class="update-wrapper">
      <p class="update-content">이름</p>
      <input type="text" th:value="${updateMember.memberName}" name="memberName" class="update-input name-update-input"
        readonly>
      <button type="button" class="update-button name-update-button">변경</button>
    </div>
    <div class="update-wrapper">
      <p class="update-content">닉네임</p>
      <input type="text" th:value="${updateMember.memberNickname}" name="memberNickname"
        class="update-input nickname-update-input" readonly>
      <button type="button" class="update-button nickname-update-button">변경</button>
    </div>
    <div class="update-wrapper">
      <p class="update-content">휴대폰 번호</p>
      <input type="text" th:value="${updateMember.memberPhone}" name="memberPhone"
        class="update-input phone-update-input" readonly>
      <button type="button" class="update-button phone-update-button">변경</button>
    </div>
    <div class="update-wrapper">
      <p class="update-content">주소</p>
      <input type="text" th:value="${updateMember.memberAddress}" name="memberAddress"
        class="update-input address-update-input" readonly>
      <button type="button" class="update-button address-update-button">변경</button>
    </div>

    <!-- <div class="update-bottom-button">
      <input type="button" class="password-update-button" id="open-password" value="비밀번호 변경">
      <div class="password-update-modal hidden">
        <div class="modal__overlay"></div>
        <div class="change-password">
          <input type="text" th:value="${updateMember.memberPassword}" id="user-password" name="memberPassword">
          <p class="password">현재 비밀번호<input type="text" id="current-password" class="current-password"
              placeholder="현재 비밀번호"></p>
          <p class="password">새 비밀번호<input type="text" id="new-password" class="new-password" placeholder="새 비밀번호" name="memberPassword">
          </p>
          <div class="password-check">
            <p class="password">비밀번호 확인<input type="text" id="renew-password" class="renew-password"
                onchange="check_password()"  placeholder="새 비밀번호 확인" onkeyup="save()"></p>
            <span id="check"></span>
          </div>
          <button type="button" id="savebtn" class="save-password" disabled>저장</button>
        </div>
      </div> -->
      <input type="submit" value="정보수정" class="update-submit-button">
    <!-- </div> -->

  </form>
</body>

</html>