<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/images/logo.png">
  <link rel="stylesheet" href="/css/memberupdate.css">
  <link rel="stylesheet" href="/js/font.js" defer>
  <script src="../../static/js/memberupdate.js" defer></script>
  <script src="/js/memberupdate.js" defer></script>
  <link rel="stylesheet" href="../../static/css/memberupdate.css">
  <link rel="stylesheet" href="../../static/css/header.css">
  <script src="../../static/js/header.js" defer></script>
  <link rel="stylesheet" href="/css/header.css">
  <script src="/js/header.js" defer></script>
  <title>정보수정</title>
</head>

<body>

  <div th:replace="~{/fragments/header}"></div>
  <form action="/member/update" method="post">
    <h4 class="update-title">회원정보 수정</h4>
    <input type="hidden" th:value="${updateMember.id}" name="id">
    <div class="update-wrapper">
      <p class="update-content">이메일</p>
      <input type="text" th:value="${updateMember.memberEmail}" name="memberEmail"
        class="update-input email-update-input" readonly>
      <button type="button" class="update-button email-update-button">변경</button>
    </div>
    <div class="update-wrapper">
      <p class="update-content">이름</p>
      <input type="text" th:value="${updateMember.memberName}" name="memberName" class="update-input name-update-input"
        readonly>
      <button type="button" class="update-button name-update-button">변경</button>
    </div>
    <div class="update-wrapper">
      <p class="update-content">닉네임</p>
      <input type="text" th:value="${updateMember.memberNickname}" name="memberNickname"
        class="update-input nickname-update-input" readonly>
      <button type="button" class="update-button nickname-update-button">변경</button>
    </div>
    <div class="update-wrapper">
      <p class="update-content">휴대폰 번호</p>
      <input type="text" th:value="${updateMember.memberPhone}" name="memberPhone"
        class="update-input phone-update-input" readonly>
      <button type="button" class="update-button phone-update-button">변경</button>
    </div>
    <div class="update-wrapper">
      <p class="update-content">주소</p>
      <input type="text" th:value="${updateMember.memberAddress}" name="memberAddress"
        class="update-input address-update-input" readonly>
      <button type="button" class="update-button address-update-button">변경</button>
    </div>
    <input type="hidden" th:value="${updateMember.memberPassword}" class="old-password">
    <button type="button" class="passwordupdate-button">비밀번호 변경하기</button>
    <div class="passwordupdate-wrapper hidden">
      <div class="passwordupdate-row">
        <span class="passwordupdate-label">현재 비밀번호</span>
        <input type="text" class="passwordupdate-value" th:value="${updateMember.memberPassword}" readonly>
      </div>
      <div class="passwordupdate-row">
        <span class="passwordupdate-label">새 비밀번호</span>
        <input type="text" class="passwordupdate-value" name="memberPassword" th:value="${updateMember.memberPassword}"
          id="new-password">
      </div>
      <div class="passwordupdate-row">
        <span class="passwordupdate-label">새 비밀번호 확인</span>
        <input type="text" class="passwordupdate-value" id="re-new-password">
      </div>
      <div class="passwordupdate-button-wrapper">
        <button type="button" class="passwordupdate-submit-button">비밀번호 변경</button>
        <button type="button" class="passwordupdate-cancel-button">다음에 변경하기</button>
      </div>
    </div>

    <!-- <div class="update-bottom-button">
      <input type="button" class="password-update-button" id="open-password" value="비밀번호 변경">
      <div class="password-update-modal hidden">
        <div class="modal__overlay"></div>
        <div class="change-password">
          <input type="text" th:value="${updateMember.memberPassword}" id="user-password" name="memberPassword">
          <p class="password">현재 비밀번호<input type="text" id="current-password" class="current-password"
              placeholder="현재 비밀번호"></p>
          <p class="password">새 비밀번호<input type="text" id="new-password" class="new-password" placeholder="새 비밀번호" name="memberPassword">
          </p>
          <div class="password-check">
            <p class="password">비밀번호 확인<input type="text" id="renew-password" class="renew-password"
                onchange="check_password()"  placeholder="새 비밀번호 확인" onkeyup="save()"></p>
            <span id="check"></span>
          </div>
          <button type="button" id="savebtn" class="save-password" disabled>저장</button>
        </div>
      </div>
    </div> -->
    <div class="update-button-wrapper">
      <div class="left-update-button">
        <a href="/member/withdrawal" class="withdrawal-button">회원탈퇴</a>
      </div>
      <input type="submit" value="정보수정" class="update-submit-button">
    </div>

  </form>
</body>

</html>