<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/images/logo.png">
  <link rel="stylesheet" href="/js/font.js" defer>
  <link rel="stylesheet" href="../../static/css/header.css">
  <script src="../../static/js/header.js" defer></script>
  <link rel="stylesheet" href="/css/header.css">
  <script src="/js/header.js" defer></script>
  <link rel="stylesheet" href="../../static/css/passwordupdate.css">
  <link rel="stylesheet" href="/css/passwordupdate.css">
  <title>비밀번호 변경</title>
</head>

<body>
  <div th:replace="~{/fragments/header}"></div>
  <form class="passwordupdate-main" action="/member/update" method="post">
    <h3 class="passwordupdate-title">비밀번호 변경</h3>
    <div class="passwordupdate-row">
      <span class="passwordupdate-label">아이디</span>
      <span class="passwordupdate-value id-value">abc.com</span>
    </div>
    <div class="passwordupdate-row">
      <span class="passwordupdate-label">현재 비밀번호</span>
      <input type="text" class="passwordupdate-value">
    </div>
    <div class="passwordupdate-row">
      <span class="passwordupdate-label">새 비밀번호</span>
      <input type="text" class="passwordupdate-value" placeholder="영문자, 숫자가 포함된 6자 이상" name="memberPassword">
    </div>
    <div class="passwordupdate-row">
      <span class="passwordupdate-label">새 비밀번호 확인</span>
      <input type="text" class="passwordupdate-value">
    </div>
    <div class="update-button-wrapper">
      <button type="submit" class="passwordupdate-button">비밀번호 변경하기</button>
      <a href="/member/update"><button class="passwordupdate-cancel-button">다음에 변경하기</button></a>
    </div>
  </form>
</body>

</html>