<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/withdrawal.css">
  <link rel="icon" href="/images/logo.png">
  <script src="/js/withdrawal.js" defer></script>
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <title>회원탈퇴</title>
</head>

<body>
  <main class="withdrawal">
    <img src="/images/logo.png" alt="OInJo 로고" class="logo">
    <div class="withdrawal-title"><i class="fa-solid fa-triangle-exclamation"></i>회원탈퇴</div>
    <div class="notice">
      <div class="notice-title">회원 정보 및 모든 정보 삭제</div>
      <div class="notice-detail">회원 탈퇴 즉시, 회원 정보는 모두 삭제되고, 절대 복원되지 않습니다</div>
      <div class="notice-delete-data">
        <div class="delete-data">삭제되는 정보</div>
        <div class="delete-data-detail">회원 이름, 회원 비밀번호, 회원 전화번호, 회원 이메일, 회원 주소, 구매 내역, 장바구니</div>
      </div>
    </div>
    <div class="reason-check">
      <div class="reason-check-title"><i class="fa-solid fa-question"></i>탈퇴 사유 조사</div>
      <div class="reason-check-detail">탈퇴하게 된 사유를 투표해주세요</div>
    </div>
    <div class="reason-check-list-wrapper">
      <div class="reason-check-list">
        <input type="checkbox" id="reason-check01">
        <label for="reason-check01">사이트 사용 빈도 부족</label>
        <input type="checkbox" id="reason-check02">
        <label for="reason-check02">원하는 콘텐츠 부족</label>
      </div>
      <div class="reason-check-list">
        <input type="checkbox" id="reason-check03">
        <label for="reason-check03">개인정보 유출 우려</label>
        <input type="checkbox" id="reason-check04">
        <label for="reason-check04">유료정보에 대한 가격부담</label>
      </div>
    </div>
    <div class="user-info-check">
      <div class="user-info-check-title"><i class="fa-solid fa-exclamation"></i>회원탈퇴할 계정을 확인합니다</div>
      <div class="id-check" th:text="${session.loginEmail}">
      </div>
      <div class="pw-check">
        <input type="password" placeholder="비밀번호를 입력하세요" id="pw-check-id">
        <div class="pw-check-icon">
          <i class="fa-solid fa-x"></i>
        </div>
      </div>
    </div>
    <div class="withdrawal-button-wrapper">
      <button class="withdrawal-button">회원탈퇴</button>
    </div>
  </main>
</body>

</html>