<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logo.png">
  <link rel="stylesheet" href="../../static/css/item/detail.css">
  <script src="../../static/js/item/detail.js" defer></script>
  <link rel="stylesheet" href="/css/item/detail.css">
  <script src="/js/item/detail.js" defer></script>
  <link rel="stylesheet" href="/css/fragments/header.css">
  <script src="/js/fragments/header.js" defer></script>
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js%22%3E"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js%22%3E"></script>
  <script src="/js/font.js" defer></script>
  <title>상품 상세</title>
</head>
<script th:inline="javascript">
  function orders() {
    var url = "/orders/form";

    var orderData = []; // 주문 데이터 배열을 생성합니다.

    // 각 주문 항목의 정보를 가져와서 orderData 배열에 추가합니다.
    var itemCount = document.querySelectorAll("#count");
    var itemIds = document.querySelectorAll("#itemId");
    for (var i = 0; i < itemCount.length; i++) {
      var count = itemCount[i].value;
      var itemId = itemIds[i].value;
      console.log(count);
      orderData.push({ itemId: itemId, count: count });
    }
    console.log(orderData);
    $.ajax({
      url: url,
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(orderData),
      success: function (result, status) {
        location.href = "/orders/form";
      },
      error: function (jqXHR, status, error) {
        // 주문 실패 시 동작할 코드 작성
        alert("주문에 실패했습니다.");
        // 추가 동작이 필요한 경우 여기에 작성
      }
    });
  }
</script>


<body>

  <div th:replace="~{/fragments/header}"></div>
  <main>
    <section>
      <div class="detail-wrapper">
        <div class="detail-left">
          <img th:src="${itemFormDTO.itemImgDTOList[0].imgUrl}" alt="상품 이미지" class="main-image">
          <div class="sub-image-wrapper">
            <img th:src="${itemFormDTO.itemImgDTOList[1].imgUrl}" alt="상품 서브 이미지" class="sub-image">
            <img th:src="${itemFormDTO.itemImgDTOList[2].imgUrl}" alt="상품 서브 이미지" class="sub-image">
            <img th:src="${itemFormDTO.itemImgDTOList[3].imgUrl}" alt="상품 서브 이미지" class="sub-image">
          </div>
        </div>
        <div class="detail-right">
          <h4 class="detail-title" th:text="${itemFormDTO.itemName}"></h4>
          <div class="detail-content-wrapper">
            <div class="detail-content-left">
              <div>상품명</div>
              <div>브랜드</div>
              <div>상품번호</div>
              <div>좋아요</div>
              <div>판매가</div>
              <div>색상</div>
              <div>사이즈</div>
              <div>수량</div>
            </div>
            <div class="detail-content-right">
              <div th:text="${itemFormDTO.itemName}" class="item-name"></div>
              <div th:text="${itemFormDTO.brand.brandName}"></div>
              <div th:text="${itemFormDTO.id}"></div>
              <div>1234</div>
              <input type="hidden" class="item-price" th:value="${itemFormDTO.itemPrice}">
              <div class="detail-price" th:text="${itemFormDTO.itemPrice}"></div>
              <div>
                <select name="" id="" class="color-select">
                  <!--색상 값 넘기는거 구현 필요-->
                  <option value="">색상 선택</option>
                  <option th:value="${itemFormDTO.color.colorName}" th:text="${itemFormDTO.color.colorName}"></option>
                </select>
              </div>
              <div>
                <select name="" id="" class="size-select">
                  <!--사이즈 값 넘기는거 구현 필요-->
                  <option value="">사이즈 선택</option>
                  <option th:value="${itemFormDTO.size.sizeName}" th:text="${itemFormDTO.size.sizeName}"></option>
                </select>
              </div>
              <div>
                <input type="number" name="count" id="count" class="form-control item-count-value" value="1" min="1">
              </div>
            </div>
          </div>
          <div class="select-product-notice"><i class="fa-solid fa-cart-shopping select-product-notice-icon"></i>색상과
            사이즈를 선택하시면 아래에 상품이 추가됩니다.</div>
          <div class="select-product-wrapper">
            <div class="select-product-title-content">
              <div class="select-product-title" th:text="${itemFormDTO.itemName}"></div>
              <div class="select-product-option"
                th:text="${itemFormDTO.color.colorName}+ ' ' + ${itemFormDTO.size.sizeName}"></div>
            </div>
            <div class="select-product-count">
              <input type="number" value="1" class="select-product-count-input" disabled>
            </div>
            <div class="select-product-delete-button-wrapper">
              <button class="select-product-delete-button"><i
                  class="fa-solid fa-x select-product-delete-icon"></i></button>
            </div>
            <div class="select-product-price-wrapper">
              <span class="select-product-price"></span>원
            </div>
          </div>
          <div class="select-product-total-price-wrapper">
            <div class="select-product-total-price-title">총 상품 금액</div>
            <div class="select-product-total-price-content">
              <span class="select-product-total-price" th:text="${itemFormDTO.itemPrice}"></span>원
            </div>
          </div>
          <div class="buy-button-wrapper">

            <input type="hidden" name="itemId" id="itemId" th:value="${itemFormDTO.id}">
            <button class="buy-button now-buy-button" onclick="orders()">바로 구매하기</button>

            <form th:action="@{'/member/' + ${memberId} + '/cart/' + ${itemId}}" method="post">
              <input type="hidden" name="count" value="1" class="select-product-count-input-in-form item-count">
              <button class="buy-button shopping-bag-button">장바구니 담기</button>
            </form>
          </div>
        </div>
      </div>
    </section>

  </main>

  <div class="move-btn-wrapper">
    <div class="move-top-btn"><i class="fa-solid fa-arrow-up"></i></div>
    <div class="move-bottom-btn"><i class="fa-solid fa-arrow-down"></i></div>
  </div>
</body>

</html>