<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logo.png">
  <link rel="stylesheet" href="../../static/css/detail.css">
  <script src="../../static/js/detail.js" defer></script>
  <link rel="stylesheet" href="/css/detail.css">
  <script src="/js/detail.js" defer></script>
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js%22%3E"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js%22%3E"></script>
  <script src="/js/font.js" defer></script>
  <title>상품 상세</title>
</head>

<script th:inline="javascript">
  function orders() {
    var url = "/orders/form";

    var paramData = {
      itemId: document.querySelector("#itemId").value,
      count: document.querySelector("#count").value
    };
    console.log(paramData);
    $.ajax({
      url: url,
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(paramData),
      success: function(result, status) {
        location.href = "/orders/form";
      },
      error: function (jqXHR, status, error) {
        // 주소 업데이트 실패 시 동작할 코드 작성
        alert("주소 업데이트에 실패했습니다.");
        // 추가 동작이 필요한 경우 여기에 작성
      }
    });
  }
</script>


<body>
  <main>
    <section>
      <div class="detail-wrapper">
        <div class="detail-left">
          <img src="/images/product.png" alt="상품 이미지" class="main-image">
          <div class="sub-image-wrapper">
            <img src="/images/product.png" alt="상품 서브 이미지" class="sub-image">
            <img src="/images/product.png" alt="상품 서브 이미지" class="sub-image">
            <img src="/images/product.png" alt="상품 서브 이미지" class="sub-image">
          </div>
        </div>
        <div class="detail-right">
          <h4 class="detail-title" >유스풀 벌룬 후드집업 그레이</h4>
          <div class="detail-content-wrapper">
            <div class="detail-content-left">
              <div>상품명</div>
              <div>브랜드</div>
              <div>상품번호</div>
              <div>좋아요</div>
              <div>판매가</div>
              <div>색상</div>
              <div>사이즈</div>
              <div>수량</div>
            </div>
            <div class="detail-content-right">
              <div>페플 유스풀 벌룬 후드집업 그레이</div>
              <div>페플</div>
              <div>FG3149</div>
              <div>397</div>
              <div class="detail-price">39,400</div>
              <div>
                <select name="" id="" class="color-select">
                  <option value="">색상 선택</option>
                  <option value="black">Black</option>
                  <option value="white">White</option>
                  <option value="ivory">Ivory</option>
                </select>
              </div>
              <div>
                <select name="" id="" class="size-select">
                  <option value="">사이즈 선택</option>
                  <option value="s">S</option>
                  <option value="m">M</option>
                  <option value="l">L</option>
                </select>
              </div>
              <div>
                <input type="number" name="count" id="count" class="form-control" value="1" min="1">
              </div>
            </div>
          </div>
          <div class="select-product-notice"><i class="fa-solid fa-cart-shopping select-product-notice-icon"></i>색상과
            사이즈를 선택하시면 아래에 상품이 추가됩니다.</div>
          <div class="select-product-wrapper">
            <div class="select-product-title-content">
              <div class="select-product-title">페플 유스풀 벌룬 후드집업</div>
              <div class="select-product-option">Black M</div>
            </div>
            <div class="select-product-count">
              <input type="number" value="1" class="select-product-count-input">
            </div>
            <div class="select-product-delete-button-wrapper">
              <button class="select-product-delete-button"><i
                  class="fa-solid fa-x select-product-delete-icon"></i></button>
            </div>
            <div class="select-product-price-wrapper">
              <span class="select-product-price">36,000</span>원
            </div>
          </div>
          <div class="select-product-total-price-wrapper">
            <div class="select-product-total-price-title">총 상품 금액</div>
            <div class="select-product-total-price-content">
              <span class="select-product-total-price">72,000</span>원
            </div>
          </div>
          <div class="buy-button-wrapper">

            <!-- 여기부터 -->
            <input type="hidden" name="itemId" id="itemId" th:value="${itemFormDTO.id}">
            <button class="buy-button now-buy-button" onclick="orders()">바로 구매하기</button>
            <!-- 여기까지 추가했음 주문하기 test 해보고 수정할 것 input type hidden 추가했음-->

            <form th:action="@{'/member/' + ${memberId} + '/cart/' + ${itemId}}" method="post"><button class="buy-button shopping-bag-button">장바구니 담기</button></form>
          </div>
        </div>
      </div>
    </section>

  </main>
  <footer>

  </footer>

  <div class="move-btn-wrapper">
    <div class="move-top-btn"><i class="fa-solid fa-arrow-up"></i></div>
    <div class="move-bottom-btn"><i class="fa-solid fa-arrow-down"></i></div>
  </div>
</body>

</html>