<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/logo.png">
  <link rel="stylesheet" href="../../static/css/recentproduct.css">
  <script src="/js/font.js" defer></script>
  <script src="../../static/js/recentproduct.js" defer></script>
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></scrip>
  <title>최근 본 상품</title>
</head>

<body>
  <header>
    <div class="header-left">
      <a href="/"><img src="../static/images/logo.png" alt="LOGO" class="header-logo"></a>
    </div>
    <nav class="header-right">
      <p class="login-check" th:text="${session.loginEmail}"></p>
      <a href="member/update" class="update-link header-link">
        <i class="fa-solid fa-user-pen header-link-icon"></i>
        정보수정
      </a>
      <a href="member/logout" class="logout-link header-link">
        <i class="fa-solid fa-user-minus header-link-icon"></i>
        로그아웃
      </a>
      <a href="member/login" class="login-link header-link">
        <i class="fa-solid fa-user-plus header-link-icon"></i>
        로그인
      </a>
      <a href="" class="header-link">
        <i class="fa-solid fa-tags header-link-icon"></i>
        최근본상품
      </a>
      <a href="" class="header-link shopping-bag">
        <i class="fa-solid fa-cart-shopping header-link-icon"></i>
        장바구니
        <div class="shopping-bag-count">1</div>
      </a>
      <a href="" class="header-link">
        <i class="fa-solid fa-house header-link-icon"></i>
        마이페이지
      </a>
    </nav>
  </header>
  <main class="recentproduct-main">
    <h4 class="recentproduct-title">최근 본 상품</h4>
    <p class="no-recentproduct">최근 본 상품이 없습니다.</p>
    <section class="recentproduct-wrapper">
      <article class="recentproduct">
        <a href="">
          <img src="../static/images/product.png" alt="상품 사진" class="recentproduct-image">
          <div class="recentproduct-brand">NIKE</div>
          <div class="recentproduct-name">나이키의 엄청난 옷</div>
          <div class="recentproduct-price">
            <div class="recentproduct-price-won">23,000</div>원
          </div>
        </a>
      </article>
    </section>
  </main>
</body>

</html>