<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/logo.png">
  <link rel="stylesheet" href="../../static/css/recentproduct.css">
  <script src="/js/font.js" defer></script>
  <script src="../../static/js/recentproduct.js" defer></script>
  <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../static/css/header.css">
  <link rel="stylesheet" href="/css/header.css">
  <script src="/js/header.js" defer></script>
  <script src="../../static/js/header.js" defer></script>
  <link rel="stylesheet" href="/css/recentproduct.css">
  <script src="/js/recentproduct.js" defer></script>
  <title>최근 본 상품</title>
</head>

<body>
  <div th:replace="~{/fragments/header}"></div>
  <main class="recentproduct-main">
    <h4 class="recentproduct-title">최근 본 상품</h4>
    <p class="no-recentproduct">최근 본 상품이 없습니다.</p>
    <section class="recentproduct-wrapper">
    </section>
  </main>
</body>

</html>